{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>Sign_in</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-1 col-md-2 col-lg-3"></div>
            <div class="col-10 col-md-8 col-lg-6">

                <div class="text-center mb-4">
                    <a href="{% url 'index' %}"><img style="width: 320px; height: 100px" class="mb-4" src="{% static 'logo_1.png' %}" alt="logo"></a>
                </div>
                <form class="form-signin" method="post">
                      {% csrf_token %}
                      <h4>Введите email для восстановления пароля</h4>
                      <div class="form-label-group mt-4">
                        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                      </div>

                      <button style="background-color: #e83e8c; color: #ffffff" class="btn btn-lg btn-block mt-4" type="submit">Отправить</button>
                      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
                </form>
            </div>
            <div class="col-1 col-md-2 col-lg-3"></div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>