html, body {
    /* Убирает прокрутку по горизонтале, для мобильной версии */
    overflow-x: hidden;

}
.city-metro-text{
    color: #ffffff;
    
}
#text-smm{
    font-size: 9pt;
}


.tarif-title{
    font-size: 0.8rem;
    text-transform: uppercase;
}



.img-girl{
    height: 27rem;

}

@media (max-width: 650px) {
    .img-girl {
        height: 20rem;
    }
}
@media (max-width: 550px) {

    .img-vip img{
    position: relative;
    left: 10px !important;
    height: 60px !important;

    }
    .img-check img{
    position: relative;
    left: 10px !important;
    height: 60px !important;
    top: 40px!important;

    }
    #card-girl{
        padding-right: 5px!important;
        padding-left: 5px!important;
    }
    #card-girl .card{
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .img-girl {
        height: 20rem;
    }
}

@media (max-width: 440px) {
    .img-girl {
        height: 18rem;
    }
}

.navbar-nav a{
    text-align: center ;
}

.specif label{
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
    border-style: none!important;
}

@media (min-width: 767px) {
    #mob-filter{
        display: none;
    }

    #collapseExample{
        display: none;
    }
}
/*закрыть {}*/
@media (max-width: 767px) {

    #mob-filter{
        display: block;
    }

    #account {
        display: none;
    }
    #pc-filter{
    display: none;
    }
}
@media (max-width: 950px) {

    .specif{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }


    .navbar-nav a{
        text-align: left;
    }
    .navbar-nav li{
        max-width: 100% !important;
    }


}
.navbar-nav {
        font-size: 19pt;
    }

li::before{

}

@media (min-width: 990px) {

    .mob-price-essay{
        display: none;
    }
}
@media (min-width: 600px) {

    .mob-exit-haircolor{
        display: none;
    }
}

@media (max-width: 990px) {
    .navbar-nav {
        font-size: 16pt;
    }

}

.ui-slider-track{
    background-color: #ffffff ;
}

.ui-slider-bg{
    background-color: #f8bbd0;
}

.ui-slider-handle{
    color: #e83e8c;
    background-color: #e83e8c;
}

.img-vip{
    padding: 0 !important;
}

.img-vip img{
    position: relative;
    left: 35px;
    height: 85px;

}
.img-check{
    padding: 0 !important;
}

.img-check img{
    position: relative;
    left: 35px;
    height: 85px;
    top: 60px;

}

.specif label{
    text-overflow: unset!important;
}


#city-list {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#cl-text{
    border: #ffffff 10px solid;
    color: #333333;
    background-color: #F2F4FF;
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#metro-list {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#ml-text{
    position: absolute;
    border: #ffffff 10px solid;
    color: #333333;
    background-color: #F2F4FF;
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.s_checked{
    color: orange;
}