{% load static %}
{% load startswith %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
              <link rel="stylesheet" href="{% static 'css/customstyle.css' %}">
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

            <style>
            @import url('https://fonts.googleapis.com/css?family=Lobster|Marck+Script|Pacifico|Pattaya|Russo+One&display=swap');
            </style>

          <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <script src="https://unpkg.com/imask"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'dropzone-5.7.0/dist/min/dropzone.min.css' %}">
    <script src="{% static 'dropzone-5.7.0/dist/min/dropzone.min.js' %}"></script>

    <title>Добавить индивидуалку</title>
  </head>
  <body>

 <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Выбор метро</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                    {% for m in metro %}
                        {% if m.metro|startswith:'А' %}
                            <span style="font-size: 1em" class="col-3"><a rel="external" href="m/{{ m.metro }}">{{ m.metro }}</a></span>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div style="background-color: #880e4f;">
            <div class="container">
                <div class="row">
                    <div style="color: #ffffff" class="col-6 col-sm-4 mt-2 mb-2"><a href="#" onclick="on_city()"><span class="city-metro-text">Город:</span> Москва</a></div>
                    <div style="color: #ffffff" class="col-6 col-sm-5 mt-2 mb-2"><a href="#" type="button" data-toggle="modal" data-target="#exampleModalLong"><span class="city-metro-text">Метро:</span> Не выбранно</a></div>
                    <div style="color: #ffffff" class="text-right col-sm-3 mt-2 mb-2" id="account"><a href="{% url 'signin' %}" rel="external">Личный кабинет</a></div>
                </div>
            </div>
        </div>

            <div style="background-color: #ffffff;">
                <div   class="container d-flex justify-content-center">
                    <a rel="external" href="{% url 'index' %}"><img style="width: 320px; height: 100px" src="{% static 'logo_1.png' %}" alt=""></a>
                </div>
            </div>


            <nav style="background-color: #ffffff" class="navbar navbar-expand-md navbar-light navbar-center">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <a href="{% url 'logout_view' %}" rel="external" class="d-md-none">Выход <span class="align-middle"><ion-icon name="exit-outline"></ion-icon></span></a>
              <div  class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="container">
                    <ul class="navbar-nav w-100 row-cols-4" style="font-family: 'Pattaya', sans-serif;">
                      <li class="nav-item active">
                        <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-1" href="{% url 'index' %}">Индивидуалки <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item ">
                        <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-2" href="{% url 'intim_salons' %}">Интим-салоны</a>
                      </li>
                      <li class="nav-item ">
                        <a style="color: #000000" class="nav-link" id="btn-nav-3" href="#">Стритиз-клубы</a>
                      </li>
                      <li class="nav-item ">
                        <a style="color: #000000" class="nav-link" id="btn-nav-4" href="#">Массажистки</a>
                      </li>
                    </ul>
                  </div>
              </div>
            </nav>
        </div>

        <nav style="background-color: #f4f4f4" aria-label="breadcrumb">
                          <ol style="background-color: unset" class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}" rel="external">Главная</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'account_g' %}" rel="external">Личный кабинет</a></li>
                            <li style="color: #880E4F" class="breadcrumb-item " aria-current="page">Добавить индивидуалку</li>
                          </ol>
        </nav>


  <div class="container">
            <form id="f1" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <h3>Имя</h3>
                        {{ intim_salon_form.name }}
                        <h3>Телефон 1</h3>
                        {{ intim_salon_form.phone_number_1 }}
                        <h3>Телефон 2</h3>
                        {{ intim_salon_form.phone_number_2 }}
                        <h3>Телефон 3</h3>
                        {{ intim_salon_form.phone_number_3 }}
                    </div>
                     <div class="col-sm-12 col-md-4">
                        <h3>Местоположение</h3>
                         <label for="">Город:</label>
                         <select class="form-control" name="city" id="clist">
                         {% for city in city_av %}
                             <option value="{{ city }}">{{ city }}</option>
                         {% endfor %}

                         </select>
                         <label for="">Район:</label>
                         <select class="form-control" name="area" id="alist">
                         <option class="" value="noy">Нет</option>
                         {% for area in area_av %}

                             <option class="{{ area.city_area }}" value="{{ area.area }}">{{ area.area }}</option>
                         {% endfor %}


                         </select>
                         <label for="">Метро:</label>
                         <select class="form-control" name="metro" id="mlist">
                         <option class="" value="noy">Нет</option>
                         {% for metro in metro_av %}

                                <option class="{{ metro.city_metro }}" value="{{ metro.metro }}">{{ metro.metro }}</option>
                         {% endfor %}
                         </select>
                        <label for="">Адрес:</label>
                        {{ intim_salon_form.address }}
                    </div>
                     <div class="col-sm-12 col-md-4">
                        <h3>Время работы</h3>
                         <div class="custom-control custom-checkbox">
                             {{ intim_salon_form.work24 }}
                             <label class="custom-control-label" for="customCheck1">Открыты 24 часа</label>
                         </div>
                         <label>Время открытия</label>
                         {{ intim_salon_form.work_time_start }}
                         <label>Время закрытия</label>
                         {{ intim_salon_form.work_time_close }}
                    </div>

                    <div class="col-sm-12 col-md-8">
                        <div class="row">
                            <div class="col-12"><h3>Тариф</h3><span>**Оставьте 0, если не хотите указывать цену</span></div>
                            <div class="col-3">1 час</div>
                            <div class="col-3">2 часа</div>
                            <div class="col-3">Ночь</div>
                            <div class="col-3">Анал</div>
                            <div class="col-3">{{ intim_salon_form.tariff_1 }}</div>
                            <div class="col-3">{{ intim_salon_form.tariff_2 }}</div>
                            <div class="col-3">{{ intim_salon_form.tariff_night }}</div>
                            <div class="col-3">{{ intim_salon_form.tariff_anal }}</div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-8">
                        <h3>Немного о себе</h3>
                        {{ intim_salon_form.essay }}
                    </div>



                <input type="text" name="date" value="{{ date }}" hidden>

                </div>


            </form>

            <h3>Фотографии</h3>
            <form action="{% url 'drpz_salon' %}" class="dropzone">
                {% csrf_token %}
                <input type="text" name="date" value="{{ date }}" hidden>
              <div class="fallback">
                <input name="file" type="file" multiple />
              </div>
            </form>

            <button type="submit" class="btn btn-primary mt-4" value="Submit" form="f1">Добавить анкету</button>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script>
            $('.ui-checkbox a').bind("tap click", function( event, data ){
                event.stopPropagation();
                $.mobile.changePage($(this).attr('href').attr([rel=external]));
            });
        </script>




        <script>
            $(document).ready(function () {
                $(".ui-loader-default").remove();
                $("span.form-control").remove()
            })


            $(document).ready(function () {
                $("#btn-nav-1")
                    .mouseover(function () {
                        $("#btn-nav-1").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-1").css("color", "#000000");
                    })
                $("#btn-nav-2")
                    .mouseover(function () {
                        $("#btn-nav-2").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-2").css("color", "#000000");
                    })
                $("#btn-nav-3")
                    .mouseover(function () {
                        $("#btn-nav-3").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-3").css("color", "#000000");
                    })
                $("#btn-nav-4")
                    .mouseover(function () {
                        $("#btn-nav-4").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-4").css("color", "#000000");
                    })
            })
        </script>


  <script>
      var phoneMask_1 = IMask(
        document.getElementById('phone-mask_1'), {
        mask: '+{7}(000)000-00-00'
  });
      var phoneMask_2 = IMask(
        document.getElementById('phone-mask_2'), {
        mask: '+{7}(000)000-00-00'
  });
      var phoneMask_3 = IMask(
        document.getElementById('phone-mask_3'), {
        mask: '+{7}(000)000-00-00'
  });
  </script>

  <script>
      var numberMask = IMask(
          document.getElementById('number-mask_1'),
          {
            mask: Number,
            min: -10000,
            max: 10000,
            thousandsSeparator: ' '
          });
      var numberMask = IMask(
          document.getElementById('number-mask_2'),
          {
            mask: Number,
            min: -10000,
            max: 10000,
            thousandsSeparator: ' '
          });
      var numberMask = IMask(
          document.getElementById('number-mask_3'),
          {
            mask: Number,
            min: -10000,
            max: 10000,
            thousandsSeparator: ' '
          });
      var numberMask = IMask(
          document.getElementById('number-mask_4'),
          {
            mask: Number,
            min: -10000,
            max: 10000,
            thousandsSeparator: ' '
          });
  </script>

  <script>
    $('#clist option:first').prop('selected', true);
    var a = $('#clist option:selected').val();

    $('#alist option[class!="'+a+'"]').hide();
    $('#mlist option[class!="'+a+'"]').hide();

    $('#clist').click(function () {
        var a = $('#clist option:selected').val();
        $('#alist option:first').prop('selected', true);
        $('#mlist option:first').prop('selected', true);
        $('#alist option[class="'+a+'"]').show();
        $('#alist option[class!="'+a+'"]').hide();
        $('#mlist option[class="'+a+'"]').show();
        $('#mlist option[class!="'+a+'"]').hide();

    });

  </script>

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  </body>
</html>