{% load static %}
{% load startswith %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
              <link rel="stylesheet" href="{% static 'css/customstyle.css' %}">
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

            <style>
            @import url('https://fonts.googleapis.com/css?family=Lobster|Marck+Script|Pacifico|Pattaya|Russo+One&display=swap');
            </style>

          <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <script src="https://unpkg.com/imask"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'dropzone-5.7.0/dist/min/dropzone.min.css' %}">
    <script src="{% static 'dropzone-5.7.0/dist/min/dropzone.min.js' %}"></script>

    <title>Добавить индивидуалку</title>
  </head>
  <body>

 <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Выбор метро</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                    {% for m in metro %}
                        {% if m.metro|startswith:'А' %}
                            <span style="font-size: 1em" class="col-3"><a rel="external" href="m/{{ m.metro }}">{{ m.metro }}</a></span>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div style="background-color: #880e4f;">
            <div class="container">
                <div class="row">
                    <div style="color: #ffffff" class="col-6 col-sm-4 mt-2 mb-2"><a href="#" onclick="on_city()"><span class="city-metro-text">Город:</span> Москва</a></div>
                    <div style="color: #ffffff" class="col-6 col-sm-5 mt-2 mb-2"><a href="#" type="button" data-toggle="modal" data-target="#exampleModalLong"><span class="city-metro-text">Метро:</span> Не выбранно</a></div>
                    <div style="color: #ffffff" class="text-right col-sm-3 mt-2 mb-2" id="account"><a href="{% url 'signin' %}" rel="external">Личный кабинет</a></div>
                </div>
            </div>
        </div>

            <div style="background-color: #ffffff;">
                <div   class="container d-flex justify-content-center">
                    <a rel="external" href="{% url 'index' %}"><img style="width: 320px; height: 100px" src="{% static 'logo_1.png' %}" alt=""></a>
                </div>
            </div>


            <nav style="background-color: #ffffff" class="navbar navbar-expand-md navbar-light navbar-center">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <a href="{% url 'logout_view' %}" rel="external" class="d-md-none">Выход <span class="align-middle"><ion-icon name="exit-outline"></ion-icon></span></a>
              <div  class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="container">
                    <ul class="navbar-nav w-100 row-cols-4" style="font-family: 'Pattaya', sans-serif;">
                      <li class="nav-item active">
                        <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-1" href="{% url 'index' %}">Индивидуалки <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item ">
                        <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-2" href="{% url 'intim_salons' %}">Интим-салоны</a>
                      </li>
                      <li class="nav-item ">
                        <a style="color: #000000" class="nav-link" id="btn-nav-3" href="#">Стритиз-клубы</a>
                      </li>
                      <li class="nav-item ">
                        <a style="color: #000000" class="nav-link" id="btn-nav-4" href="#">Массажистки</a>
                      </li>
                    </ul>
                  </div>
              </div>
            </nav>
        </div>

        <nav style="background-color: #f4f4f4" aria-label="breadcrumb">
                          <ol style="background-color: unset" class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}" rel="external">Главная</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'account_g' %}" rel="external">Личный кабинет</a></li>
                            <li style="color: #880E4F" class="breadcrumb-item " aria-current="page">Добавить индивидуалку</li>
                          </ol>
        </nav>


  <div class="container">
            <form id="f1" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <h3>Имя</h3>
                        {{ individualka_form.name }}
                        <h3>Телефон</h3>
                        {{ individualka_form.phone_number }}
                    </div>
                     <div class="col-sm-12 col-md-4">
                        <h3>Местоположение</h3>
                         <label for="">Город:</label>
                         <select class="form-control" name="city" id="clist">
                         {% for city in city_av %}
                             <option value="{{ city }}">{{ city }}</option>
                         {% endfor %}

                         </select>
                         <label for="">Район:</label>
                         <select class="form-control" name="area" id="alist">
                         <option class="" value="noy">Нет</option>
                         {% for area in area_av %}

                             <option class="{{ area.city_area }}" value="{{ area.area }}">{{ area.area }}</option>
                         {% endfor %}


                         </select>
                         <label for="">Метро:</label>
                         <select class="form-control" name="metro" id="mlist">
                         <option class="" value="noy">Нет</option>
                         {% for metro in metro_av %}

                                <option class="{{ metro.city_metro }}" value="{{ metro.metro }}">{{ metro.metro }}</option>
                         {% endfor %}
                         </select>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h3>Выезд</h3>
                        <div class="row">
                            <div class="custom-control custom-checkbox col-6">{{ individualka_form.exit_apartment }}
                                <label class="custom-control-label" for="customCheck1">Квартира</label></div>
                            <div class="custom-control custom-checkbox col-6">{{ individualka_form.exit_sauna }}
                                <label class="custom-control-label" for="customCheck2">Баня/Сауна</label></div>
                            <div class="custom-control custom-checkbox col-6">{{ individualka_form.exit_hotel }}
                                <label class="custom-control-label" for="customCheck3">Отель</label></div>
                            <div class="custom-control custom-checkbox col-6">{{ individualka_form.exit_office }}
                                <label class="custom-control-label" for="customCheck4">Офис</label></div>
                            <div style="margin-top: 4%" class="custom-control custom-checkbox col-12">{{ individualka_form.her_apartment }}
                                <label class="custom-control-label" for="customCheck5"><h3>Апартаменты</h3></label></div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <h4>Параметры</h4>
                        <div class="row">
                            <div class="col-6"><label for="">Возраст</label>{{ individualka_form.girl_age }}</div>
                            <div class="col-6"><label for="">Рост</label>{{ individualka_form.girl_height }}</div>
                            <div class="col-6"><label for="">Вес</label>{{ individualka_form.girl_weight }}</div>
                            <div class="col-6"><label for="">Грудь</label>{{ individualka_form.girl_chest }}</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="row">
                            <div class="col-12"><h3>Тариф</h3><span>**Оставьте 0, если не хотите указывать цену</span></div>
                            <div class="col-4"></div>
                            <div class="col-2">1 час</div>
                            <div class="col-2">2 часа</div>
                            <div class="col-2">Ночь</div>
                            <div class="col-2">Анал</div>
                            <div class="col-4">Аппартаменты</div>
                            <div class="col-2">{{ individualka_form.tariff_apartment_1 }}</div>
                            <div class="col-2">{{ individualka_form.tariff_apartment_2 }}</div>
                            <div class="col-2">{{ individualka_form.tariff_apartment_night }}</div>
                            <div class="col-4"></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-2">{{ individualka_form.tariff_anal }}</div>
                            <div class="col-4">Выезд</div>
                            <div class="col-2">{{ individualka_form.tariff_exit_1 }}</div>
                            <div class="col-2">{{ individualka_form.tariff_exit_2 }}</div>
                            <div class="col-2">{{ individualka_form.tariff_exit_night }}</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h3>Доролнительные параметры</h3>
                        <div class="row">
                            <div class="col-12"><label for="">Цвет волос</label>{{ individualka_form.hair_color }}</div>
                            <div class="col-12"><label for="">Интим-стрижка</label>{{ individualka_form.intimate_haircut }}</div>
                            <div class="col-12"><label for="">Национальность</label>{{ individualka_form.nationality }}</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <h3>Немного о себе</h3>
                        {{ individualka_form.essay }}
                    </div>
                    <div class="col-12">
                        <h2>Услуги</h2>
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <h4>Тип</h4>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_type_1 }}
                                <label for="u1" class="custom-control-label">{{ individualka_form.usluga_type_1.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_type_2 }}
                                <label for="u2" class="custom-control-label">{{ individualka_form.usluga_type_2.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_type_3 }}
                                <label for="u3" class="custom-control-label">{{ individualka_form.usluga_type_3.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_type_4 }}
                                <label for="u4" class="custom-control-label">{{ individualka_form.usluga_type_4.label }}</label>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <h4>Ласка</h4>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_laska_1 }}
                                <label for="u5" class="custom-control-label">{{ individualka_form.usluga_laska_1.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_laska_2 }}
                                <label for="u6" class="custom-control-label">{{ individualka_form.usluga_laska_2.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_laska_3 }}
                                <label for="u7" class="custom-control-label">{{ individualka_form.usluga_laska_3.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_laska_4 }}
                                <label for="u8" class="custom-control-label">{{ individualka_form.usluga_laska_4.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_laska_5 }}
                                <label for="u9" class="custom-control-label">{{ individualka_form.usluga_laska_5.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_laska_6 }}
                                <label for="u10" class="custom-control-label">{{ individualka_form.usluga_laska_6.label }}</label>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-3">
                                <h4>Садом-мазо</h4>

                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_sado_mazo_1 }}
                                <label for="u11" class="custom-control-label">{{ individualka_form.usluga_sado_mazo_1.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_sado_mazo_2 }}
                                <label for="u12" class="custom-control-label">{{ individualka_form.usluga_sado_mazo_2.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_sado_mazo_3 }}
                                <label for="u13" class="custom-control-label">{{ individualka_form.usluga_sado_mazo_3.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_sado_mazo_4 }}
                                <label for="u14" class="custom-control-label">{{ individualka_form.usluga_sado_mazo_4.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_sado_mazo_5 }}
                                <label for="u15" class="custom-control-label">{{ individualka_form.usluga_sado_mazo_5.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_sado_mazo_6 }}
                                <label for="u16" class="custom-control-label">{{ individualka_form.usluga_sado_mazo_6.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_sado_mazo_7 }}
                                <label for="u17" class="custom-control-label">{{ individualka_form.usluga_sado_mazo_7.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_sado_mazo_8 }}
                                <label for="u18" class="custom-control-label">{{ individualka_form.usluga_sado_mazo_8.label }}</label>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-3">
                                <h4>Фистинг</h4>

                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_fisting_1 }}
                                <label for="u19" class="custom-control-label">{{ individualka_form.usluga_fisting_1.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_fisting_2 }}
                                <label for="u20" class="custom-control-label">{{ individualka_form.usluga_fisting_2.label }}</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <h4>Золотой дождь</h4>

                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_zolotoy_1 }}
                                <label for="u21" class="custom-control-label">{{ individualka_form.usluga_zolotoy_1.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_zolotoy_2 }}
                                <label for="u22" class="custom-control-label">{{ individualka_form.usluga_zolotoy_2.label }}</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <h4>Дополнительно</h4>

                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_dopoln_1 }}
                                <label for="u23" class="custom-control-label">{{ individualka_form.usluga_dopoln_1.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_dopoln_2 }}
                                <label for="u24" class="custom-control-label">{{ individualka_form.usluga_dopoln_2.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_dopoln_3 }}
                                <label for="u25" class="custom-control-label">{{ individualka_form.usluga_dopoln_3.label }}</label>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-3">
                                <h4>Финиш</h4>

                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_finish_1 }}
                                <label for="u26" class="custom-control-label">{{ individualka_form.usluga_finish_1.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_finish_2 }}
                                <label for="u27" class="custom-control-label">{{ individualka_form.usluga_finish_2.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_finish_3 }}
                                <label for="u28" class="custom-control-label">{{ individualka_form.usluga_finish_3.label }}</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <h4>Массаж</h4>

                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_massage_1 }}
                                <label for="u29" class="custom-control-label">{{ individualka_form.usluga_massage_1.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_massage_2 }}
                                <label for="u30" class="custom-control-label">{{ individualka_form.usluga_massage_2.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_massage_3 }}
                                <label for="u31" class="custom-control-label">{{ individualka_form.usluga_massage_3.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_massage_4 }}
                                <label for="u32" class="custom-control-label">{{ individualka_form.usluga_massage_4.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_massage_5 }}
                                <label for="u33" class="custom-control-label">{{ individualka_form.usluga_massage_5.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_massage_6 }}
                                <label for="u34" class="custom-control-label">{{ individualka_form.usluga_massage_6.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_massage_7 }}
                                <label for="u35" class="custom-control-label">{{ individualka_form.usluga_massage_7.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_massage_8 }}
                                <label for="u36" class="custom-control-label">{{ individualka_form.usluga_massage_8.label }}</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <h4>Стриптиз</h4>

                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_strip_1 }}
                                <label for="u37" class="custom-control-label">{{ individualka_form.usluga_strip_1.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_strip_2 }}
                                <label for="u38" class="custom-control-label">{{ individualka_form.usluga_strip_2.label }}</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <h4>Лесби-шоу</h4>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_lesbi_1 }}
                                <label for="u39" class="custom-control-label">{{ individualka_form.usluga_lesbi_1.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_lesbi_2 }}
                                <label for="u40" class="custom-control-label">{{ individualka_form.usluga_lesbi_2.label }}</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <h4>Экстрим</h4>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_extrim_1 }}
                                <label for="u41" class="custom-control-label">{{ individualka_form.usluga_extrim_1.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_extrim_2 }}
                                <label for="u42" class="custom-control-label">{{ individualka_form.usluga_extrim_2.label }}</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <h4>Копро</h4>

                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_copro_1 }}
                                <label for="u43" class="custom-control-label">{{ individualka_form.usluga_copro_1.label }}</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                {{ individualka_form.usluga_copro_2 }}
                                <label for="u44" class="custom-control-label">{{ individualka_form.usluga_copro_2.label }}</label>
                                </div>
                            </div>

                        </div>
                    </div>


                <input type="text" name="date" value="{{ date }}" hidden>

                </div>


            </form>


            <form action="{% url 'drpz' %}" class="dropzone">
                {% csrf_token %}
                <input type="text" name="date" value="{{ date }}" hidden>
              <div class="fallback">
                <input name="file" type="file" multiple />
              </div>
            </form>

            <button type="submit" class="btn btn-primary mt-4" value="Submit" form="f1">Добавить анкету</button>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script>
            $('.ui-checkbox a').bind("tap click", function( event, data ){
                event.stopPropagation();
                $.mobile.changePage($(this).attr('href').attr([rel=external]));
            });
        </script>




        <script>
            $(document).ready(function () {
                $(".ui-loader-default").remove();
                $("span.form-control").remove()
            })


            $(document).ready(function () {
                $("#btn-nav-1")
                    .mouseover(function () {
                        $("#btn-nav-1").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-1").css("color", "#000000");
                    })
                $("#btn-nav-2")
                    .mouseover(function () {
                        $("#btn-nav-2").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-2").css("color", "#000000");
                    })
                $("#btn-nav-3")
                    .mouseover(function () {
                        $("#btn-nav-3").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-3").css("color", "#000000");
                    })
                $("#btn-nav-4")
                    .mouseover(function () {
                        $("#btn-nav-4").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-4").css("color", "#000000");
                    })
            })
        </script>


  <script>
      var phoneMask = IMask(
        document.getElementById('phone-mask'), {
        mask: '+{7}(000)000-00-00'
  });
  </script>

  <script>
      var numberMask = IMask(
          document.getElementById('number-mask_1'),
          {
            mask: Number,
            min: -10000,
            max: 10000,
            thousandsSeparator: ' '
          });
      var numberMask = IMask(
          document.getElementById('number-mask_2'),
          {
            mask: Number,
            min: -10000,
            max: 10000,
            thousandsSeparator: ' '
          });
      var numberMask = IMask(
          document.getElementById('number-mask_3'),
          {
            mask: Number,
            min: -10000,
            max: 10000,
            thousandsSeparator: ' '
          });
      var numberMask = IMask(
          document.getElementById('number-mask_4'),
          {
            mask: Number,
            min: -10000,
            max: 10000,
            thousandsSeparator: ' '
          });
  </script>

  <script>
    $('#clist option:first').prop('selected', true);
    var a = $('#clist option:selected').val();

    $('#alist option[class!="'+a+'"]').hide();
    $('#mlist option[class!="'+a+'"]').hide();

    $('#clist').click(function () {
        var a = $('#clist option:selected').val();
        $('#alist option:first').prop('selected', true);
        $('#mlist option:first').prop('selected', true);
        $('#alist option[class="'+a+'"]').show();
        $('#alist option[class!="'+a+'"]').hide();
        $('#mlist option[class="'+a+'"]').show();
        $('#mlist option[class!="'+a+'"]').hide();

    });

  </script>

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  </body>
</html>