    {% load static %}
{%  load startswith %}
    <!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="{% static 'css/customstyle.css' %}">
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

            <style>
            @import url('https://fonts.googleapis.com/css?family=Lobster|Marck+Script|Pacifico|Pattaya|Russo+One&display=swap');
            </style>

          <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">



          <title>Личный кабинет</title>
      </head>
      <body>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Выбор метро</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                    {% for m in metro %}
                        {% if m.metro|startswith:'А' %}
                            <span style="font-size: 1em" class="col-3"><a rel="external" href="m/{{ m.metro }}">{{ m.metro }}</a></span>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div style="background-color: #880e4f;">
            <div class="container">
                <div class="row">
                    <div style="color: #ffffff" class="col-6 col-sm-4 mt-2 mb-2"><a href="#" onclick="on_city()"><span class="city-metro-text">Город:</span> Москва</a></div>
                    <div style="color: #ffffff" class="col-6 col-sm-5 mt-2 mb-2"><a href="#" type="button" data-toggle="modal" data-target="#exampleModalLong"><span class="city-metro-text">Метро:</span> Не выбранно</a></div>
                    <div style="color: #ffffff" class="text-right col-sm-3 mt-2 mb-2" id="account"><a href="{% url 'signin' %}" rel="external">Личный кабинет</a></div>
                </div>
            </div>
        </div>

            <div style="background-color: #ffffff;">
                <div   class="container d-flex justify-content-center">
                    <a rel="external" href="{% url 'index' %}"><img style="width: 320px; height: 100px" src="{% static 'logo_1.png' %}" alt=""></a>
                </div>
            </div>


            <nav style="background-color: #ffffff" class="navbar navbar-expand-md navbar-light navbar-center">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <a href="{% url 'logout_view' %}" rel="external" class="d-md-none">Выход <span class="align-middle"><ion-icon name="exit-outline"></ion-icon></span></a>
              <div  class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="container">
                    <ul class="navbar-nav w-100 row-cols-4" style="font-family: 'Pattaya', sans-serif;">
                      <li class="nav-item active">
                        <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-1" href="{% url 'index' %}">Индивидуалки <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item ">
                        <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-2" href="{% url 'intim_salons' %}">Интим-салоны</a>
                      </li>
                      <li class="nav-item ">
                        <a style="color: #000000" class="nav-link" id="btn-nav-3" href="#">Стритиз-клубы</a>
                      </li>
                      <li class="nav-item ">
                        <a style="color: #000000" class="nav-link" id="btn-nav-4" href="#">Массажистки</a>
                      </li>
                    </ul>
                  </div>
              </div>
            </nav>
        </div>

        <nav style="background-color: #f4f4f4" aria-label="breadcrumb">
                          <ol style="background-color: unset" class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}" rel="external">Главная</a></li>
                            <li style="color: #880E4F" class="breadcrumb-item " aria-current="page">Личный кабинет</li>
                          </ol>
        </nav>
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
        {% endfor %}



        <div class="container">


            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-8">
                    <h4>Личный кабинет, {{ user.username }}</h4>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <h4>Баланс: <span style="color: #e83e8c">{{ user.balance_set.first.money }}</span> р.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button style="background-color: #e83e8c; color: #ffffff" type="button" class="btn ">
                            <a style="color: #ffffff;" href="{% url 'replenishment' %}">Пополнить</a>
                        </button>
                    </h4>
                </div>
                <div class="col-12 col-sm-4 col-md-4 mt-4">
                    <div class="card mb-3">
                      <div class="card-header"><h4>Реклама</h4></div>
                      <div class="card-body">
                            <h5><a style="color: #e83e8c" href="{% url 'account_g_ad' %}">Добавить индивидуалку</a></h5>
                            <h5><a style="color: #e83e8c" href="{% url 'account_intim_salons_ad' %}">Добавить интим-салон</a></h5>
                            <h5>Добавить стритиз-клуб</h5>
                            <h5>Добавить массажистку</h5>
                      </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 mt-4">
                    <div class="card mb-3">
                      <div class="card-header"><h4>Анкеты</h4></div>
                      <div class="card-body">
                            <h6>Всего: <span style="color: #e83e8c">{{ girls.count }}</span> шт.</h6>
                            <h6>Активные: <span style="color: #e83e8c">{{ girls_active.count }}</span> шт.</h6>
                            <h6>Отключенные: <span style="color: #e83e8c">{{ girls_no_active.count }}</span> шт.</h6>
                      </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 mt-4">
                    <div class="card mb-3">
                      <div class="card-header"><h4>Расход</h4></div>
                      <div class="card-body">
                            <h6 style="color: #e83e8c;">{{ paymant_all_1 }} р./день</h6>
                            <h6 style="color: #e83e8c;">{{ paymant_all_7 }} р./неделя</h6>
                            <h6 style="color: #e83e8c;">{{ paymant_all_30 }} р./месяц</h6>
                      </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mt-4">
                    <div class="row">

                        <div class="col-12">
                            <a href="{% url 'support' %}">Техническая поддержка</a>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'balance_history' %}">История баланса</a>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'personal' %}">Личные данные</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-8 mt-4">
                    <p>Бесплатное размещение первые 2 месяца!</p>
                    <p>На проверочной фотографии должен быть тот же человек, чьи фотографии используются в анкете, с листком бумаги текущей даты.</p>
                    <p>VIP анкеты показываются в приоритетном порядке и сортируются случайным образом только между собой.</p>
                    <h4>Стоимость размещения:</h4>
                    <p>VIP 10р / день</p>
                    <p>Обычное 0р / день</p>

                    <p>При возникновении вопросов, пожалуйста, напишите нам</p>

                    <h4>Правила размещения:</h4>
                    <p>Запрещено дублировать анкеты с одними и теми же фотками</p>
                    <p>Реклама девушек моложе 18 лет!</p>
                    <p>Анкеты проверяются в течении суток. Если по прошествии этого времени ваши анкеты не были проверены, пожалуйста, напишите нам</p>
                </div>

                <div class="col-12 table-responsive mt-2">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="table-active" colspan="6" scope="col"><h4>Анкеты на модерации</h4></th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for girl in girls_moderation %}
                            <tr>
                              <td>{{ girl.name }}</td>
                              <td>{{ girl.phone_number }}</td>
                              <td><a href="/individualka/{{ girl.id }}/">Ссылка</a></td>
                            </tr>
                          {% endfor %}
                          {% for s in salons_moderation %}
                            <tr>
                              <td>{{ s.name }}</td>
                              <td>{{ s.phone_number_1 }}</td>
                              <td><a href="/intim-salons/{{ s.id }}/">Ссылка</a></td>
                            </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                </div>

                <div class="col-12 mt-5 table-responsive">
                    <table class="table">
                          <thead>
                            <tr>
                              <th class="table-active" colspan="6" scope="col"><h4>VIP анкеты</h4></th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for girl in girls_VIP %}
                                <tr>
                                  <td>{{ girl.name }}</td>
                                  <td>{{ girl.phone_number }}</td>
                                  <td><a href="/individualka/{{ girl.id }}/">Ссылка</a></td>
                                  <td><a href="/account/edit_g/{{ girl.id }}/">Редактировать</a></td>
                                  <td><a href="/account/make_normal/{{ girl.id }}/">Сделать обычной</a></td>
                                </tr>
                              {% endfor %}
                          </tbody>
                    </table>
                </div>

                <div class="col-12 table-responsive mt-5">
                    <table class="table">
                          <thead>
                            <tr>
                              <th class="table-active" colspan="6" scope="col"><h4>Обычные анкеты</h4></th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for girl in girls_no_VIP %}
                                <tr>
                                  <td>{{ girl.name }}</td>
                                  <td>{{ girl.phone_number }}</td>
                                  <td><a href="/individualka/{{ girl.id }}/">Ссылка</a></td>
                                  <td><a href="/account/edit_g/{{ girl.id }}/">Редактировать</a></td>
                                  <td><a href="/account/make_vip/{{ girl.id }}/">Сделать VIP</a></td>
                                  <td><a href="/account/make_inactive/{{ girl.id }}/">Отключить</a></td>
                                </tr>
                              {% endfor %}
                              {% for s in salons_active %}
                                <tr>
                                  <td>{{ s.name }}</td>
                                  <td>{{ s.phone_number_1 }}</td>
                                  <td><a href="/intim-salons/{{ s.id }}/">Ссылка</a></td>
                                  <td><a href="/account/edit_salon/{{ s.id }}/">Редактировать</a></td>
                                  <td><a href="/account/make_vip/{{ s.id }}/">Сделать VIP</a></td>
                                  <td><a href="/account/make_salon_inactive/{{ s.id }}/">Отключить</a></td>
                                </tr>
                              {% endfor %}
                          </tbody>
                    </table>
                </div>
                <div class="col-12 table-responsive mt-5">
                    <table class="table">
                          <thead>
                            <tr>
                              <th class="table-active" colspan="6" scope="col"><h4>Отключенные анкеты</h4></th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for girl in girls_no_active %}
                                <tr>
                                  <td>{{ girl.name }}</td>
                                  <td>{{ girl.phone_number }}</td>
                                  <td><a href="/individualka/{{ girl.id }}/">Ссылка</a></td>
                                  <td><a href="/account/edit_g/{{ girl.id }}/">Редактировать</a></td>
                                  <td><a href="/account/make_normal/{{ girl.id }}/">Сделать обычной</a></td>
                                </tr>
                              {% endfor %}
                              {% for s in salons_no_active %}
                                <tr>
                                  <td>{{ s.name }}</td>
                                  <td>{{ s.phone_number_1 }}</td>
                                  <td><a href="/intim-salons/{{ s.id }}/">Ссылка</a></td>
                                  <td><a href="/account/edit_g/{{ s.id }}/">Редактировать</a></td>
                                  <td><a href="/account/make_salon_normal/{{ s.id }}/">Сделать обычной</a></td>
                                </tr>
                              {% endfor %}
                          </tbody>
                    </table>
                </div>

            </div>
        </div>


        <footer style="background-color: #f4f4f4" class="mt-5 p-5">
            <div class="text-center">
                <span>&copy; 2017-2020 Copyright by boobs-msk.com</span><br>
                <span>Email boobs_msk@protonmail.com</span><br>
                <span>Администрация не несет ответственности за размещенную пользователями информацию.</span>
            </div>
        </footer>




        <script src="{% static 'js/jquery.min.js' %}"></script>

        <script>
            $('.ui-checkbox a').bind("tap click", function( event, data ){
                event.stopPropagation();
                $.mobile.changePage($(this).attr('href').attr([rel=external]));
            });
        </script>




        <script>
            $(document).ready(function () {
                $(".ui-loader-default").remove();
                $("span.form-control").remove()
            })


            $(document).ready(function () {
                $("#btn-nav-1")
                    .mouseover(function () {
                        $("#btn-nav-1").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-1").css("color", "#000000");
                    })
                $("#btn-nav-2")
                    .mouseover(function () {
                        $("#btn-nav-2").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-2").css("color", "#000000");
                    })
                $("#btn-nav-3")
                    .mouseover(function () {
                        $("#btn-nav-3").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-3").css("color", "#000000");
                    })
                $("#btn-nav-4")
                    .mouseover(function () {
                        $("#btn-nav-4").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-4").css("color", "#000000");
                    })
            })
        </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
      </body>
    </html>