    {% load static %}
    {% load startswith %}
    <!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="Индивидуалка {{ girl.name }} из города Москва, снять проститутку по имени {{ girl.name }} по телефону {{ girl.phone_number }}" />
        <meta name="description" content="Индивидуалка {{ girl.name }} - худенькая девушка с красивой грудью, предпочитает классический секс, остальная информация в анкете сексуальной проститутки." />
        <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

          <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
          <link rel="stylesheet" href="{% static 'css/customstyle.css' %}">
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
          <style>
               @import url('https://fonts.googleapis.com/css?family=Lobster|Marck+Script|Pacifico|Pattaya|Russo+One&display=swap');
          </style>

          <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">






          <title>Индивидуалка {{ girl.name }} из Москвы</title>
      </head>
      <body>

 <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Выбор метро</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                    {% for m in metro %}
                        {% if m.metro|startswith:'А' %}
                            <span style="font-size: 1em" class="col-3"><a rel="external" href="m/{{ m.metro }}">{{ m.metro }}</a></span>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div style="background-color: #880e4f;">
            <div class="container">
                <div class="row">
                    <div style="color: #ffffff" class="col-6 col-sm-4 mt-2 mb-2"><a href="#" onclick="on_city()"><span class="city-metro-text">Город:</span> Москва</a></div>
                    <div style="color: #ffffff" class="col-6 col-sm-5 mt-2 mb-2"><a href="#" type="button" data-toggle="modal" data-target="#exampleModalLong"><span class="city-metro-text">Метро:</span> Не выбранно</a></div>
                    <div style="color: #ffffff" class="text-right col-sm-3 mt-2 mb-2" id="account"><a href="{% url 'signin' %}" rel="external">Личный кабинет</a></div>
                </div>
            </div>
        </div>

        <div style="background-color: #ffffff;">
            <div   class="container d-flex justify-content-center">
                <a rel="external" href="{% url 'index' %}"><img style="width: 320px; height: 100px" src="{% static 'logo_1.png' %}" alt=""></a>
            </div>
        </div>


        <div style="border-bottom: solid 2px #880E4F">
            <nav style="background-color: #ffffff" class="navbar navbar-expand-md navbar-light navbar-center">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <a rel="external" href="{% url 'signin' %}" class="d-md-none">Личный кабинет</a>

              <div  class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="container">
                    <ul class="navbar-nav w-100 row-cols-4" style="font-family: 'Pattaya', sans-serif;">
                      <li class="nav-item active">
                        <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-1" href="{% url 'index' %}">Индивидуалки <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item ">
                        <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-2" href="{% url 'intim_salons' %}">Интим-салоны</a>
                      </li>
                      <li class="nav-item ">
                        <a style="color: #000000" class="nav-link" id="btn-nav-3" href="#">Стритиз-клубы</a>
                      </li>
                      <li class="nav-item ">
                        <a style="color: #000000" class="nav-link" id="btn-nav-4" href="#">Массажистки</a>
                      </li>
                    </ul>
                  </div>
              </div>
            </nav>
        </div>

        <nav style="background-color: #f4f4f4" aria-label="breadcrumb">
                          <ol style="background-color: unset" class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}" rel="external">Главная</a></li>
                            <li style="color: #880E4F" class="breadcrumb-item " aria-current="page">{{ girl.name }}</li>
                          </ol>
        </nav>

        <div class="container ">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <a data-fancybox="gallery" href="{{ girl.intim_salon_photo_set.first.photo.url }}">
                            <img class="img-fluid" src="{{ girl.intim_salon_photo_set.first.photo.url }}">
                        </a>
                    </div>
                    <div class="col-12 col-sm-8 mt-4">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4">
                                <h4>{{ girl.phone_number_1 }}</h4>
                                <h4>{{ girl.phone_number_2 }}</h4>
                                <h4>{{ girl.phone_number_3 }}</h4>
                                <span class="d-none d-md-block">Пожалуйста, сообщите салону,что вы нашли его на сайте boobs.com</span>
                                <h6 class="mt-1">Город: {{ girl.city }}</h6>
                                <h6>Метро: <a href="/m/{{ girl.metro }}/">{{ girl.metro }}</a></h6>
                                <h6>Район: {{ girl.area }}</h6>
                            </div>

                            <div class="col-12 col-sm-6 col-md-8 mt-3 d-none d-md-block">
                                <table class="table">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">1 час</th>
                                      <th scope="col">2 часа</th>
                                      <th scope="col">Ночь</th>
                                      <th scope="col">Анал</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">Аппартаменты</th>
                                      {% if girl.tariff_1 == 0 %}
                                          <td>-</td>
                                      {% else %}
                                          <td>{{ girl.tariff_1 }}</td>
                                      {% endif %}
                                      {% if girl.tariff_2 == 0 %}
                                          <td>-</td>
                                      {% else %}
                                          <td>{{ girl.tariff_2 }}</td>
                                      {% endif %}
                                      {% if girl.tariff_night == 0 %}
                                          <td>-</td>
                                      {% else %}
                                          <td>{{ girl.tariff_night }}</td>
                                      {% endif %}
                                      {% if girl.tariff_anal == 0 %}
                                          <td>-</td>
                                      {% else %}
                                          <td>{{ girl.tariff_anal }}</td>
                                      {% endif %}
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class="col-12 d-none d-md-block">
                                <p>{{ girl.essay }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 mob-price-essay">
                                <table class="table">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">1 час</th>
                                      <th scope="col">2 часа</th>
                                      <th scope="col">Ночь</th>
                                      <th scope="col">Анал</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">Аппартаменты</th>
                                      {% if girl.tariff_1 == 0 %}
                                          <td>-</td>
                                      {% else %}
                                          <td>{{ girl.tariff_1 }}</td>
                                      {% endif %}
                                      {% if girl.tariff_2 == 0 %}
                                          <td>-</td>
                                      {% else %}
                                          <td>{{ girl.tariff_2 }}</td>
                                      {% endif %}
                                      {% if girl.tariff_night == 0 %}
                                          <td>-</td>
                                      {% else %}
                                          <td>{{ girl.tariff_night }}</td>
                                      {% endif %}

                                      {% if girl.tariff_anal == 0 %}
                                          <td>-</td>
                                      {% else %}
                                          <td>{{ girl.tariff_anal }}</td>
                                      {% endif %}
                                    </tr>
                                  </tbody>
                                </table>
                    </div>
                    <div class="col-12 mob-price-essay">
                                <p>{{ girl.essay }}</p>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="row">
                            {% for img in girl.intim_salon_photo_set.all %}
                                {% if not forloop.first %}
                                    <div class="col-6 col-sm-4 col-md-2">
                                        <a data-fancybox="gallery" href="{{ img.photo.url }}">
                                            <img class="img-fluid" src="{{ img.photo.url }}">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    {% if comments_all %}
                        <div style="border-top: 2px solid #e83e8c"  class="col-12 mt-5">

                            <div class=" mt-4 row">
                                <h5 class="col-6">Отзывы посетителей:</h5>
                                <div class="text-right col-6">
                                    <button style="background-color: #e83e8c; color: #ffffff" class="btn btn-primary " type="button" data-toggle="collapse" data-target="#collapseExample-detail" aria-expanded="false" aria-controls="collapseExample-detail">
                                    Добавить отзыв
                                    </button>
                                </div>

                            </div>
                            <div style="border-bottom: 2px solid #e83e8c" class="collapse row" id="collapseExample-detail">
                                    <div class="col-12 mb-3">
                                        <form action="leave_comment/" method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                    <div class="row mt-5">
                                                        <div class="col-sm-1 col-md-1"></div>
                                                        <div class="col-sm-12 col-md-5">
                                                            <div onmousedown="return false" onselectstart="return false" class="row">
                                                                <span class="col-6 col-sm-4 col-md-5">Классичекий секс</span>
                                                                <div class="col-6 col-sm-4 col-md-7">
                                                                    <input id="rating_cl_sex" type="hidden" name="r_1" value="">
                                                                    <span id="cl_sex_minus"><ion-icon name="remove-circle-outline"></ion-icon></span>
                                                                    <span class="fa fa-star" id="cl_sex_sp0"></span>
                                                                    <span class="fa fa-star" id="cl_sex_sp1"></span>
                                                                    <span class="fa fa-star" id="cl_sex_sp2"></span>
                                                                    <span class="fa fa-star" id="cl_sex_sp3"></span>
                                                                    <span class="fa fa-star" id="cl_sex_sp4"></span>
                                                                    <span id="cl_sex_plus"><ion-icon name="add-circle-outline"></ion-icon></span>
                                                                </div>
                                                            </div>
                                                            <div onmousedown="return false" onselectstart="return false" class="row">
                                                                <span class="col-6 col-sm-4 col-md-5">Анал</span>
                                                                <div class="col-6 col-sm-4 col-md-7">
                                                                    <input id="rating_anal" type="hidden" name="r_2" value="">
                                                                    <span id="anal_minus"><ion-icon name="remove-circle-outline"></ion-icon></span>
                                                                    <span class="fa fa-star" id="anal_sp0"></span>
                                                                    <span class="fa fa-star" id="anal_sp1"></span>
                                                                    <span class="fa fa-star" id="anal_sp2"></span>
                                                                    <span class="fa fa-star" id="anal_sp3"></span>
                                                                    <span class="fa fa-star" id="anal_sp4"></span>
                                                                    <span id="anal_plus"><ion-icon name="add-circle-outline"></ion-icon></span>
                                                                </div>
                                                            </div>
                                                            <div onmousedown="return false" onselectstart="return false" class="row">
                                                                <span class="col-6 col-sm-4 col-md-5">Минет</span>
                                                                <div class="col-6 col-sm-4 col-md-7">
                                                                    <input id="rating_minet" type="hidden" name="r_3" value="">
                                                                    <span id="minet_minus"><ion-icon name="remove-circle-outline"></ion-icon></span>
                                                                    <span class="fa fa-star" id="minet_sp0"></span>
                                                                    <span class="fa fa-star" id="minet_sp1"></span>
                                                                    <span class="fa fa-star" id="minet_sp2"></span>
                                                                    <span class="fa fa-star" id="minet_sp3"></span>
                                                                    <span class="fa fa-star" id="minet_sp4"></span>
                                                                    <span id="minet_plus"><ion-icon name="add-circle-outline"></ion-icon></span>
                                                                </div>
                                                            </div>
                                                            <div onmousedown="return false" onselectstart="return false" class="row">
                                                                <span class="col-6 col-sm-4 col-md-5">Сервис</span>
                                                                <div class="col-6 col-sm-4 col-md-7">
                                                                    <input id="rating_service" type="hidden" name="r_4" value="">
                                                                    <span id="service_minus"><ion-icon name="remove-circle-outline"></ion-icon></span>
                                                                    <span class="fa fa-star" id="service_sp0"></span>
                                                                    <span class="fa fa-star" id="service_sp1"></span>
                                                                    <span class="fa fa-star" id="service_sp2"></span>
                                                                    <span class="fa fa-star" id="service_sp3"></span>
                                                                    <span class="fa fa-star" id="service_sp4"></span>
                                                                    <span id="service_plus"><ion-icon name="add-circle-outline"></ion-icon></span>
                                                                </div>
                                                            </div>
                                                            <div onmousedown="return false" onselectstart="return false" class="row">
                                                                <span class="col-6 col-sm-4 col-md-5">Окончание</span>
                                                                <div class="col-6 col-sm-4 col-md-7">
                                                                    <input id="rating_end" type="hidden" name="r_5" value="">
                                                                    <span id="end_minus"><ion-icon name="remove-circle-outline"></ion-icon></span>
                                                                    <span class="fa fa-star" id="end_sp0"></span>
                                                                    <span class="fa fa-star" id="end_sp1"></span>
                                                                    <span class="fa fa-star" id="end_sp2"></span>
                                                                    <span class="fa fa-star" id="end_sp3"></span>
                                                                    <span class="fa fa-star" id="end_sp4"></span>
                                                                    <span id="end_plus"><ion-icon name="add-circle-outline"></ion-icon></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-4">
                                                            <label for="exampleFormControlInput1">Ваше имя</label>
                                                            <input id="exampleFormControlInput1" class="form-control" type="text" name="author" value="Аноним" placeholder="Аноним">
                                                            <label for="exampleFormControlInput2">Ваши комментарии</label>
                                                            <textarea id="exampleFormControlInput2" class="form-control" type="text" name="text"></textarea>
                                                            <script src="https://www.google.com/recaptcha/api.js"></script>
                                                            <div class="g-recaptcha" data-sitekey="{{ recaptcha }}"></div>

                                                                    <button style="background-color: #e83e8c; color: #ffffff" type="submit" class="btn">Оставить коментарий</button>
                                                        </div>

                                                        <div class="col-sm-1 col-md-2"></div>
                                                    </div>

                                            </div>
                                        </form>
                                    </div>
                            </div>
                            {% for comments in comments_all %}

                                <div class="row">
                                    <div class="col-12 mt-4 mb-2">
                                        {{ comments.date }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #e83e8c; font-weight: bold">{{ comments.author }}</span>
                                    </div>
                                    <div class="col-12">
                                        <span >Классический секс:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {% if comments.cl_sex_rating == 1 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.cl_sex_rating == 2 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.cl_sex_rating == 3 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.cl_sex_rating == 4 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.cl_sex_rating == 5 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <span>Анал:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         {% if comments.anal_rating == 1 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.anal_rating == 2 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.anal_rating == 3 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.anal_rating == 4 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.anal_rating == 5 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <span>Минет:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         {% if comments.minet_rating == 1 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.minet_rating == 2 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.minet_rating == 3 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.minet_rating == 4 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.minet_rating == 5 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <span>Сервис:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {% if comments.service_rating == 1 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.service_rating == 2 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.service_rating == 3 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.service_rating == 4 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.service_rating == 5 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <span>Окончание:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {% if comments.end_rating == 1 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.end_rating == 2 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.end_rating == 3 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.end_rating == 4 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comments.end_rating == 5 %}
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                            <span class="fa fa-star s_checked"></span>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 mt-3">
                                        {{ comments.text }}
                                        <hr>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    {% else %}
                        <div class="col-12 mt-5 mb-5" style="border-top: 2px solid #e83e8c" >
                            <div class="text-center"><img class="text-center" src="{% static 'no_otziv.png' %}" alt=""></div>
                            <h4 class="text-center mt-3">Отзыв пока еще никто не отсавил</h4>
                            <p class="text-center">
                                <button style="background-color: #e83e8c; color: #ffffff" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample-detail" aria-expanded="false" aria-controls="collapseExample-detail">
                                    Добавить отзыв
                                </button>
                            </p>
                            <div style="border-bottom: 2px solid #e83e8c" class="collapse row" id="collapseExample-detail">
                                    <div class="col-12 mb-3">
                                        <form action="leave_comment/" method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                    <div class="row mt-5">
                                                        <div class="col-sm-1 col-md-1"></div>
                                                        <div class="col-sm-12 col-md-5">
                                                            <div onmousedown="return false" onselectstart="return false" class="row">
                                                                <span class="col-6 col-sm-4 col-md-5">Классичекий секс</span>
                                                                <div class="col-6 col-sm-4 col-md-7">
                                                                    <input id="rating_cl_sex" type="hidden" name="r_1" value="">
                                                                    <span id="cl_sex_minus"><ion-icon name="remove-circle-outline"></ion-icon></span>
                                                                    <span class="fa fa-star" id="cl_sex_sp0"></span>
                                                                    <span class="fa fa-star" id="cl_sex_sp1"></span>
                                                                    <span class="fa fa-star" id="cl_sex_sp2"></span>
                                                                    <span class="fa fa-star" id="cl_sex_sp3"></span>
                                                                    <span class="fa fa-star" id="cl_sex_sp4"></span>
                                                                    <span id="cl_sex_plus"><ion-icon name="add-circle-outline"></ion-icon></span>
                                                                </div>
                                                            </div>
                                                            <div onmousedown="return false" onselectstart="return false" class="row">
                                                                <span class="col-6 col-sm-4 col-md-5">Анал</span>
                                                                <div class="col-6 col-sm-4 col-md-7">
                                                                    <input id="rating_anal" type="hidden" name="r_2" value="">
                                                                    <span id="anal_minus"><ion-icon name="remove-circle-outline"></ion-icon></span>
                                                                    <span class="fa fa-star" id="anal_sp0"></span>
                                                                    <span class="fa fa-star" id="anal_sp1"></span>
                                                                    <span class="fa fa-star" id="anal_sp2"></span>
                                                                    <span class="fa fa-star" id="anal_sp3"></span>
                                                                    <span class="fa fa-star" id="anal_sp4"></span>
                                                                    <span id="anal_plus"><ion-icon name="add-circle-outline"></ion-icon></span>
                                                                </div>
                                                            </div>
                                                            <div onmousedown="return false" onselectstart="return false" class="row">
                                                                <span class="col-6 col-sm-4 col-md-5">Минет</span>
                                                                <div class="col-6 col-sm-4 col-md-7">
                                                                    <input id="rating_minet" type="hidden" name="r_3" value="">
                                                                    <span id="minet_minus"><ion-icon name="remove-circle-outline"></ion-icon></span>
                                                                    <span class="fa fa-star" id="minet_sp0"></span>
                                                                    <span class="fa fa-star" id="minet_sp1"></span>
                                                                    <span class="fa fa-star" id="minet_sp2"></span>
                                                                    <span class="fa fa-star" id="minet_sp3"></span>
                                                                    <span class="fa fa-star" id="minet_sp4"></span>
                                                                    <span id="minet_plus"><ion-icon name="add-circle-outline"></ion-icon></span>
                                                                </div>
                                                            </div>
                                                            <div onmousedown="return false" onselectstart="return false" class="row">
                                                                <span class="col-6 col-sm-4 col-md-5">Сервис</span>
                                                                <div class="col-6 col-sm-4 col-md-7">
                                                                    <input id="rating_service" type="hidden" name="r_4" value="">
                                                                    <span id="service_minus"><ion-icon name="remove-circle-outline"></ion-icon></span>
                                                                    <span class="fa fa-star" id="service_sp0"></span>
                                                                    <span class="fa fa-star" id="service_sp1"></span>
                                                                    <span class="fa fa-star" id="service_sp2"></span>
                                                                    <span class="fa fa-star" id="service_sp3"></span>
                                                                    <span class="fa fa-star" id="service_sp4"></span>
                                                                    <span id="service_plus"><ion-icon name="add-circle-outline"></ion-icon></span>
                                                                </div>
                                                            </div>
                                                            <div onmousedown="return false" onselectstart="return false" class="row">
                                                                <span class="col-6 col-sm-4 col-md-5">Окончание</span>
                                                                <div class="col-6 col-sm-4 col-md-7">
                                                                    <input id="rating_end" type="hidden" name="r_5" value="">
                                                                    <span id="end_minus"><ion-icon name="remove-circle-outline"></ion-icon></span>
                                                                    <span class="fa fa-star" id="end_sp0"></span>
                                                                    <span class="fa fa-star" id="end_sp1"></span>
                                                                    <span class="fa fa-star" id="end_sp2"></span>
                                                                    <span class="fa fa-star" id="end_sp3"></span>
                                                                    <span class="fa fa-star" id="end_sp4"></span>
                                                                    <span id="end_plus"><ion-icon name="add-circle-outline"></ion-icon></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-4">
                                                            <label for="exampleFormControlInput1">Ваше имя</label>
                                                            <input id="exampleFormControlInput1" class="form-control" type="text" name="author" value="Аноним" placeholder="Аноним">
                                                            <label for="exampleFormControlInput2">Ваши комментарии</label>
                                                            <textarea id="exampleFormControlInput2" class="form-control" type="text" name="text"></textarea>
                                                            <script src="https://www.google.com/recaptcha/api.js"></script>
                                                                    <div class="g-recaptcha" data-sitekey="{{ recaptcha }}"></div>

                                                                    <button style="background-color: #e83e8c; color: #ffffff" type= "submit" class="btn">Оставить коментарий</button>
                                                        </div>

                                                        <div class="col-sm-1 col-md-2"></div>
                                                    </div>

                                            </div>
                                        </form>
                                    </div>
                            </div>
                        </div>
                    {% endif %}


                </div>
        </div>



        <footer style="background-color: #f4f4f4" class="mt-5 p-5">
            <div class="text-center">
                <span>&copy; 2017-2020 Copyright by boobs-msk.com</span><br>
                <span>Email boobs_msk@protonmail.com</span><br>
                <span>Администрация не несет ответственности за размещенную пользователями информацию.</span>
            </div>
        </footer>



<script src="{% static 'js/jquery.min.js' %}"></script>
         <script>
            var cl_sex = 0;
            $("#rating_cl_sex").val(cl_sex);
            $("#cl_sex_plus").click(function () {
                cl_sex++;
                if (cl_sex>5){
                    cl_sex=5
                };
                for (i=0;i<cl_sex;i++){
                  $("#cl_sex_sp"+i).addClass('s_checked')
                };
                $("#rating_cl_sex").val(cl_sex)
            })
            $("#cl_sex_minus").click(function () {
                cl_sex--;
                if (cl_sex<0){
                    cl_sex=0
                };
                $("#cl_sex_sp"+cl_sex).removeClass("s_checked")
                $("#rating_cl_sex").val(cl_sex)
            })

            var anal = 0;
            $("#rating_anal").val(anal);
            $("#anal_plus").click(function () {
                anal++;
                if (anal>5){
                    anal=5
                };
                for (i=0;i<anal;i++){
                  $("#anal_sp"+i).addClass('s_checked')
                };
                $("#rating_anal").val(anal)
            })
            $("#anal_minus").click(function () {
                anal--;
                if (anal<0){
                    anal=0
                };
                $("#anal_sp"+anal).removeClass("s_checked")
                $("#rating_anal").val(anal)
            })

            var minet = 0;
            $("#rating_minet").val(minet);
            $("#minet_plus").click(function () {
                minet++;
                if (minet>5){
                    minet=5
                };
                for (i=0;i<minet;i++){
                  $("#minet_sp"+i).addClass('s_checked')
                };
                $("#rating_minet").val(minet)
            })
            $("#minet_minus").click(function () {
                minet--;
                if (minet<0){
                    minet=0
                };
                $("#minet_sp"+minet).removeClass("s_checked")
                $("#rating_minet").val(minet)
            })

            var service = 0;
            $("#rating_service").val(service);
            $("#service_plus").click(function () {
                service++;
                if (service>5){
                    service=5
                };
                for (i=0;i<service;i++){
                  $("#service_sp"+i).addClass('s_checked')
                };
                $("#rating_service").val(service)
            })
            $("#service_minus").click(function () {
                service--;
                if (service<0){
                    service=0
                };
                $("#service_sp"+service).removeClass("s_checked")
                $("#rating_service").val(service)
            })

            var end = 0;
            $("#rating_end").val(end);
            $("#end_plus").click(function () {
                end++;
                if (end>5){
                    end=5
                };
                for (i=0;i<end;i++){
                  $("#end_sp"+i).addClass('s_checked')
                };
                $("#rating_end").val(end)
            })
            $("#end_minus").click(function () {
                end--;
                if (end<0){
                    end=0
                };
                $("#end_sp"+end).removeClass("s_checked")
                $("#rating_end").val(end)
            })


        </script>

        <script>
            $('.ui-checkbox a').bind("tap click", function( event, data ){
                event.stopPropagation();
                $.mobile.changePage($(this).attr('href').attr([rel=external]));
            });
        </script>




        <script>
            $(document).ready(function () {
                $(".ui-loader-default").remove();
                $("span.form-control").remove()
            })


            $(document).ready(function () {
                $("#btn-nav-1")
                    .mouseover(function () {
                        $("#btn-nav-1").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-1").css("color", "#000000");
                    })
                $("#btn-nav-2")
                    .mouseover(function () {
                        $("#btn-nav-2").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-2").css("color", "#000000");
                    })
                $("#btn-nav-3")
                    .mouseover(function () {
                        $("#btn-nav-3").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-3").css("color", "#000000");
                    })
                $("#btn-nav-4")
                    .mouseover(function () {
                        $("#btn-nav-4").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-4").css("color", "#000000");
                    })
            })
        </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
        <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
      </body>
    </html>