    {% load static %}
    {%  load startswith %}
    <!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="проститутки москвы, путаны московские, москва индивидуалки, московские шлюхи, дешевые проститутки в москве круглосуточно, бляди в москве,  шлюхи москвы, москва путаны,проститутки в подмосковье,  шлюхи шлюхи" />
        <meta name="description" content="Молодые и зрелые проститутки и индивидуалки Москвы ❤ готовы дарить страсть, ласку Ꙭ и наслаждение с учетом всех пожеланий клиента ☞⊚. Все мы индивидуальны, но каждый из нас иногда сталкивается с усталостью, стрессами и депрессией. Преодолеть такие проблемы, помочь взглянуть на жизнь с эмоциями и позитивом помогут шлюхи Москвы." />
        <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="{% static 'css/customstyle.css' %}">
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
          <link rel="stylesheet" href="{% static 'css/sliderrange.css' %}">
          <style>
               @import url('https://fonts.googleapis.com/css?family=Lobster|Marck+Script|Pacifico|Pattaya|Russo+One&display=swap');
          </style>

          <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">


          <script src="{% static 'js/jquery.min.js' %}"></script>
          <script src="{% static 'js/jquery.mobile-1.4.5.min.js' %}"></script>





          <title>Проститутки Москвы и индивидуалки - интим досуг 18+</title>
      </head>
      <body>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Выбор метро</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                    {% for m in metro %}
                        {% if m.metro|startswith:'А' %}
                            <span style="font-size: 1em" class="col-3"><a rel="external" href="m/{{ m.metro }}">{{ m.metro }}</a></span>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div style="background-color: #880e4f;">
            <div class="container">
                <div class="row">
                    <div style="color: #ffffff" class="col-6 col-sm-4 mt-2 mb-2"><a href="#" onclick="on_city()"><span class="city-metro-text">Город:</span> Москва</a></div>
                    <div style="color: #ffffff" class="col-6 col-sm-5 mt-2 mb-2"><a href="#" type="button" data-toggle="modal" data-target="#exampleModalLong"><span class="city-metro-text">Метро:</span> Не выбранно</a></div>
                    <div style="color: #ffffff" class="text-right col-sm-3 mt-2 mb-2" id="account"><a href="{% url 'signin' %}" rel="external">Личный кабинет</a></div>
                </div>
            </div>
        </div>

        <div style="background-color: #ffffff;">
            <div   class="container d-flex justify-content-center">
                <a rel="external" href="{% url 'index' %}"><img style="width: 320px; height: 100px" src="{% static 'logo_1.png' %}" alt=""></a>
            </div>
        </div>



        <nav style="background-color: #ffffff" class="navbar navbar-expand-md navbar-light navbar-center">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <a rel="external" href="{% url 'signin' %}" class="d-md-none">Личный кабинет</a>

          <div  class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="container">
                <ul class="navbar-nav w-100 row-cols-4" style="font-family: 'Pattaya', sans-serif;">
                  <li class="nav-item active">
                    <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-1" href="{% url 'index' %}">Индивидуалки <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item ">
                    <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-2" href="{% url 'intim_salons' %}">Интим-салоны</a>
                  </li>
                  <li class="nav-item ">
                    <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-3" href="#">Стритиз-клубы</a>
                  </li>
                  <li class="nav-item ">
                    <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-4" href="#">Массажистки</a>
                  </li>
                </ul>
              </div>
          </div>
        </nav>

                <button id="mob-filter" style="background-color: #e83e8c; color: #ffffff" type="button" class="btn btn-lg mx-auto mt-3 mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Подбор анкет</button>

                    <div style="font-family: 'Pattaya', sans-serif;" class="container collapse" id="collapseExample">

                            <form data-ajax="false" data-role="none" action="{% url 'filtergirls' %}" method="get">
                                {% csrf_token %}

                                <div class="row">
                                        <div class="col-12 specif ">
                                            <div data-role="rangeslider" data-mini="true">
                                              <label for="range-4a">Возраст:</label>
                                              <input name="girl_age_min" id="range-4a" min="18" max=66 value="18" type="range" />
                                              <label for="range-4b">Возраст:</label>
                                              <input name="girl_age_max" id="range-4b" min="18" max=66 value="66" type="range" />
                                            </div>
                                        </div>
                                        <div class="col-12 specif">
                                            <div data-role="rangeslider" data-mini="true">
                                              <label for="range-4a">Рост:</label>
                                              <input name="girl_height_min" id="range-4a" min="140" max="210" value="140" type="range" />
                                              <label for="range-4b">Рост:</label>
                                              <input name="girl_height_max" id="range-4b" min="140" max="210" value="210" type="range" />
                                            </div>
                                        </div>
                                        <div class="col-12 specif">
                                            <div data-role="rangeslider" data-mini="true">
                                              <label for="range-4a">Вес:</label>
                                              <input name="girl_weight_min" id="range-4a" min="35" max="110" value="35" type="range" />
                                              <label for="range-4b">Вес:</label>
                                              <input name="girl_weight_max" id="range-4b" min="35" max="110" value="110" type="range" />
                                            </div>
                                        </div>
                                        <div class="col-12 specif">
                                            <div data-role="rangeslider" data-mini="true">
                                              <label for="range-4a">Грудь:</label>
                                              <input name="girl_chest_min" id="range-4a" min="1" max="9" value="1" type="range" />
                                              <label for="range-4b">Вес(кг):</label>
                                              <input name="girl_chest_max" id="range-4b" min="1" max="9" value="9" type="range" />
                                            </div>
                                        </div>

                                        <div class="col-6 mt-3">
                                            <div class="row">
                                                <div class="col-12 ">
                                                    <label for="pr1">Цена за 1 час:</label>
                                                </div>
                                                <div class="col-6">
                                                    <input name="tariff_apartment_1_min" id="pr1" class="form-control form-control-sm" type="text" placeholder="От">
                                                </div>
                                                <div class="col-6">
                                                    <input name="tariff_apartment_1_max" class="form-control form-control-sm" type="text" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 mt-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="pr2">Цена за 2 часа:</label>
                                                </div>
                                                <div class="col-6">
                                                    <input name="tariff_apartment_2_min" id="pr2" class="form-control form-control-sm" type="text" placeholder="От">
                                                </div>
                                                <div class="col-6">
                                                    <input name="tariff_apartment_2_max" class="form-control form-control-sm" type="text" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 mt-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="prn">Цена за ночь:</label>
                                                </div>
                                                <div class="col-6">
                                                    <input name="tariff_apartment_night_min" id="prn" class="form-control form-control-sm" type="text" placeholder="От">
                                                </div>
                                                <div class="col-6">
                                                    <input name="tariff_apartment_night_max" class="form-control form-control-sm" type="text" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 mt-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="sp">Телефон:</label>
                                                </div>
                                                <div class="col-12">
                                                    <input name="phone_number" id="sp" class="form-control form-control-sm" type="text" placeholder="+79997777777">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 mt-3 specif" >
                                            <h5>Тип</h5>
                                            <input type="checkbox" name="usluga_type_1" id="ck-mini-mob-1" data-mini="true" value="true">
                                            <label for="ck-mini-mob-1"><a href="{% url 'filtergirls' %}?usluga_type_1=true" rel="external">Классический</a></label>
                                            <input type="checkbox" name="usluga_type_2" id="ck-mini-mob-2" data-mini="true" value="true">
                                            <label for="ck-mini-mob-2"><a href="{% url 'filtergirls' %}?usluga_type_2=true" rel="external">Анальный</a></label>
                                            <input type="checkbox" name="usluga_type_3" id="ck-mini-mob-3" data-mini="true" value="true">
                                            <label for="ck-mini-mob-3"><a href="{% url 'filtergirls' %}?usluga_type_3=true" rel="external">Групповой</a></label>
                                            <input type="checkbox" name="usluga_type_4" id="ck-mini-mob-4" data-mini="true" value="true">
                                            <label for="ck-mini-mob-4"><a href="{% url 'filtergirls' %}?usluga_type_4=true" rel="external">Лесбийский</a></label>
                                        </div>
                                        <div class="col-6 mt-3 specif " >
                                            <h5>Место</h5>
                                            <input type="checkbox" name="exit_apartment" id="ck-mini-mob-5" data-mini="true" value="true">
                                            <label for="ck-mini-mob-5"><a href="{% url 'filtergirls' %}?exit_apartment=true" rel="external">Квартира</a></label>
                                            <input type="checkbox" name="exit_sauna" id="ck-mini-mob-6" data-mini="true" value="true">
                                            <label for="ck-mini-mob-6"><a href="{% url 'filtergirls' %}?exit_sauna=true" rel="external">Баня/Сауна</a></label>
                                            <input type="checkbox" name="exit_hotel" id="ck-mini-mob-7" data-mini="true" value="true">
                                            <label for="ck-mini-mob-7"><a href="{% url 'filtergirls' %}?exit_hotel=true" rel="external">Гостиница</a></label>
                                            <input type="checkbox" name="exit_office" id="ck-mini-mob-8" data-mini="true" value="true">
                                            <label for="ck-mini-mob-8"><a href="{% url 'filtergirls' %}?exit_office=true" rel="external">Офис</a></label>
                                            <input type="checkbox" name="her_a  partment" id="ck-mini-mob-9" data-mini="true" value="true">
                                            <label for="ck-mini-mob-9"><a href="{% url 'filtergirls' %}?her_apartment=true" rel="external">Апартаменты</a></label>
                                        </div>
                                        <div class="col-6 mt-3 specif " >
                                            <h5>Ласка</h5>
                                            <input type="checkbox" name="usluga_laska_1" id="ck-mini-mob-10" data-mini="true" value="true">
                                            <label for="ck-mini-mob-10"><a href="{% url 'filtergirls' %}?usluga_laska_1=true" rel="external">С резинкой</a></label>
                                            <input type="checkbox" name="usluga_laska_2" id="ck-mini-mob-11" data-mini="true" value="true">
                                            <label for="ck-mini-mob-11"><a href="{% url 'filtergirls' %}?usluga_laska_2=true" rel="external">Без резинки</a></label>
                                            <input type="checkbox" name="usluga_laska_3" id="ck-mini-mob-12" data-mini="true" value="true">
                                            <label for="ck-mini-mob-12"><a href="{% url 'filtergirls' %}?usluga_laska_3=true" rel="external">Глубокий</a></label>
                                            <input type="checkbox" name="usluga_laska_4" id="ck-mini-mob-13" data-mini="true" value="true">
                                            <label for="ck-mini-mob-13"><a href="{% url 'filtergirls' %}?usluga_laska_4=true" rel="external">В машине</a></label>
                                            <input type="checkbox" name="usluga_laska_5" id="ck-mini-mob-14" data-mini="true" value="true">
                                            <label for="ck-mini-mob-14"><a href="{% url 'filtergirls' %}?usluga_laska_5=true" rel="external">Кунилингус</a></label>
                                            <input type="checkbox" name="usluga_laska_6" id="ck-mini-mob-15" data-mini="true" value="true">
                                            <label for="ck-mini-mob-15"><a href="{% url 'filtergirls' %}?usluga_laska_6=true" rel="external">Анилингус</a></label>
                                        </div>
                                        <div class="col-6 mt-3 specif " >
                                            <h5>Финиш</h5>
                                            <input type="checkbox" name="usluga_finish_1" id="ck-mini-mob-16" data-mini="true" value="true">
                                            <label for="ck-mini-mob-16"><a href="{% url 'filtergirls' %}?usluga_finish_1=true" rel="external">В рот</a></label>
                                            <input type="checkbox" name="usluga_finish_2" id="ck-mini-mob-17" data-mini="true" value="true">
                                            <label for="ck-mini-mob-17"><a href="{% url 'filtergirls' %}?usluga_finish_2=true" rel="external">На лицо</a></label>
                                            <input type="checkbox" name="usluga_finish_3" id="ck-mini-mob-18" data-mini="true" value="true">
                                            <label for="ck-mini-mob-18"><a href="{% url 'filtergirls' %}?usluga_finish_3=true" rel="external">На грудь</a></label>
                                        </div>
                                        <div class="col-12 mt-3 specif " >
                                            <h5>Параметры анкеты</h5>
                                            <input type="checkbox" name="photo_approved" id="ck-mini-mob-19" data-mini="true" value="true">
                                            <label class="ui-checkbox" for="ck-mini-mob-19"><a href="{% url 'filtergirls' %}?photo_approved=true" rel="external">Фото проверено</a></label>
                                            <input type="checkbox" name="usluga_finish_2" id="ck-mini-mob-20" data-mini="true" value="true">
                                            <label for="ck-mini-mob-20"><a href="{% url 'filtergirls' %}?comment_have=true" rel="external">С отзывами</a></label>

                                        </div>

                                        <div class="col-12 text-right text-center mt-3">
                                            <button  style="background-color: #e83e8c; color: #ffffff" type="submit" class="btn btn-lg" data-role="none">Найти анкеты</button>
                                        </div>
                                </div>

                            </form>

                    </div>


            <div data-role="none"  style="font-family: 'Pattaya', sans-serif;  background-color: #F5F5F5; border-top: solid 2px #880E4F; border-bottom: solid 2px #880E4F" id="pc-filter">
                <div class="container mb-3">
                    <form data-ajax="false" data-role="none" action="{% url 'filtergirls' %}" method="get">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 specif ">
                                <div data-role="rangeslider" data-mini="true">
                                  <label for="range-4a">Возраст:</label>
                                  <input name="girl_age_min" id="range-4a" min="18" max=66 value="18" type="range" />
                                  <label for="range-4b">Возраст:</label>
                                  <input name="girl_age_max" id="range-4b" min="18" max=66 value="66" type="range" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 specif">
                                <div data-role="rangeslider" data-mini="true">
                                  <label for="range-4a">Рост:</label>
                                  <input name="girl_height_min" id="range-4a" min="140" max="210" value="140" type="range" />
                                  <label for="range-4b">Рост:</label>
                                  <input name="girl_height_max" id="range-4b" min="140" max="210" value="210" type="range" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 specif">
                                <div data-role="rangeslider" data-mini="true">
                                  <label for="range-4a">Вес:</label>
                                  <input name="girl_weight_min" id="range-4a" min="35" max="110" value="35" type="range" />
                                  <label for="range-4b">Вес:</label>
                                  <input name="girl_weight_max" id="range-4b" min="35" max="110" value="110" type="range" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 specif">
                                <div data-role="rangeslider" data-mini="true">
                                  <label for="range-4a">Грудь:</label>
                                  <input name="girl_chest_min" id="range-4a" min="1" max="9" value="1" type="range" />
                                  <label for="range-4b">Вес(кг):</label>
                                  <input name="girl_chest_max" id="range-4b" min="1" max="9" value="9" type="range" />
                                </div>
                            </div>

                            <div class="col-lg-3 col-6 mt-3">
                                <div class="row">
                                    <div class="col-12 ">
                                        <label for="pr1">Цена за 1 час:</label>
                                    </div>
                                    <div class="col-6">
                                        <input name="tariff_apartment_1_min" id="pr1" class="form-control form-control-sm" type="text" placeholder="От">
                                    </div>
                                    <div class="col-6">
                                        <input name="tariff_apartment_1_max" class="form-control form-control-sm" type="text" placeholder="До">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 mt-3">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="pr2">Цена за 2 часа:</label>
                                    </div>
                                    <div class="col-6">
                                        <input name="tariff_apartment_2_min" id="pr2" class="form-control form-control-sm" type="text" placeholder="От">
                                    </div>
                                    <div class="col-6">
                                        <input name="tariff_apartment_2_max" class="form-control form-control-sm" type="text" placeholder="До">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 mt-3">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="prn">Цена за ночь:</label>
                                    </div>
                                    <div class="col-6">
                                        <input name="tariff_apartment_night_min" id="prn" class="form-control form-control-sm" type="text" placeholder="От">
                                    </div>
                                    <div class="col-6">
                                        <input name="tariff_apartment_night_max" class="form-control form-control-sm" type="text" placeholder="До">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 mt-3">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="sp">Телефон:</label>
                                    </div>
                                    <div class="col-12">
                                        <input name="phone_number" id="sp" class="form-control form-control-sm" type="text" placeholder="+79997777777">
                                    </div>
                                </div>
                            </div>

                            <div class="col-2 mt-3 specif" >
                                <h5>Тип</h5>
                                <input type="checkbox" name="usluga_type_1" id="ck-mini-1" data-mini="true" value="true">
                                <label for="ck-mini-1"><a href="{% url 'filtergirls' %}?usluga_type_1=true" rel="external">Классический</a></label>
                                <input type="checkbox" name="usluga_type_2" id="ck-mini-2" data-mini="true" value="true">
                                <label for="ck-mini-2"><a href="{% url 'filtergirls' %}?usluga_type_2=true" rel="external">Анальный</a></label>
                                <input type="checkbox" name="usluga_type_3" id="ck-mini-3" data-mini="true" value="true">
                                <label for="ck-mini-3"><a href="{% url 'filtergirls' %}?usluga_type_3=true" rel="external">Групповой</a></label>
                                <input type="checkbox" name="usluga_type_4" id="ck-mini-4" data-mini="true" value="true">
                                <label for="ck-mini-4"><a href="{% url 'filtergirls' %}?usluga_type_4=true" rel="external">Лесбийский</a></label>
                            </div>
                            <div class="col-2 mt-3 specif " >
                                <h5>Место</h5>
                                <input type="checkbox" name="exit_apartment" id="ck-mini-5" data-mini="true" value="true">
                                <label for="ck-mini-5"><a href="{% url 'filtergirls' %}?exit_apartment=true" rel="external">Квартира</a></label>
                                <input type="checkbox" name="exit_sauna" id="ck-mini-6" data-mini="true" value="true">
                                <label for="ck-mini-6"><a href="{% url 'filtergirls' %}?exit_sauna=true" rel="external">Баня/Сауна</a></label>
                                <input type="checkbox" name="exit_hotel" id="ck-mini-7" data-mini="true" value="true">
                                <label for="ck-mini-7"><a href="{% url 'filtergirls' %}?exit_hotel=true" rel="external">Гостиница</a></label>
                                <input type="checkbox" name="exit_office" id="ck-mini-8" data-mini="true" value="true">
                                <label for="ck-mini-8"><a href="{% url 'filtergirls' %}?exit_office=true" rel="external">Офис</a></label>
                                <input type="checkbox" name="her_a  partment" id="ck-mini-9" data-mini="true" value="true">
                                <label for="ck-mini-9"><a href="{% url 'filtergirls' %}?her_apartment=true" rel="external">Апартаменты</a></label>
                            </div>
                            <div class="col-2 mt-3 specif " >
                                <h5>Ласка</h5>
                                <input type="checkbox" name="usluga_laska_1" id="ck-mini-10" data-mini="true" value="true">
                                <label for="ck-mini-10"><a href="{% url 'filtergirls' %}?usluga_laska_1=true" rel="external">С резинкой</a></label>
                                <input type="checkbox" name="usluga_laska_2" id="ck-mini-11" data-mini="true" value="true">
                                <label for="ck-mini-11"><a href="{% url 'filtergirls' %}?usluga_laska_2=true" rel="external">Без резинки</a></label>
                                <input type="checkbox" name="usluga_laska_3" id="ck-mini-12" data-mini="true" value="true">
                                <label for="ck-mini-12"><a href="{% url 'filtergirls' %}?usluga_laska_3=true" rel="external">Глубокий</a></label>
                                <input type="checkbox" name="usluga_laska_4" id="ck-mini-13" data-mini="true" value="true">
                                <label for="ck-mini-13"><a href="{% url 'filtergirls' %}?usluga_laska_4=true" rel="external">В машине</a></label>
                                <input type="checkbox" name="usluga_laska_5" id="ck-mini-14" data-mini="true" value="true">
                                <label for="ck-mini-14"><a href="{% url 'filtergirls' %}?usluga_laska_5=true" rel="external">Кунилингус</a></label>
                                <input type="checkbox" name="usluga_laska_6" id="ck-mini-15" data-mini="true" value="true">
                                <label for="ck-mini-15"><a href="{% url 'filtergirls' %}?usluga_laska_6=true" rel="external">Анилингус</a></label>
                            </div>
                            <div class="col-2 mt-3 specif " >
                                <h5>Финиш</h5>
                                <input type="checkbox" name="usluga_finish_1" id="ck-mini-16" data-mini="true" value="true">
                                <label for="ck-mini-16"><a href="{% url 'filtergirls' %}?usluga_finish_1=true" rel="external">В рот</a></label>
                                <input type="checkbox" name="usluga_finish_2" id="ck-mini-17" data-mini="true" value="true">
                                <label for="ck-mini-17"><a href="{% url 'filtergirls' %}?usluga_finish_2=true" rel="external">На лицо</a></label>
                                <input type="checkbox" name="usluga_finish_3" id="ck-mini-18" data-mini="true" value="true">
                                <label for="ck-mini-18"><a href="{% url 'filtergirls' %}?usluga_finish_3=true" rel="external">На грудь</a></label>
                            </div>
                            <div class="col-4 mt-3 specif " >
                                <h5>Параметры анкеты</h5>
                                <input type="checkbox" name="photo_approved" id="ck-mini-19" data-mini="true" value="true">
                                <label class="ui-checkbox" for="ck-mini-19"><a href="{% url 'filtergirls' %}?photo_approved=true" rel="external">Фото проверено</a></label>
                                <input type="checkbox" name="usluga_finish_2" id="ck-mini-20" data-mini="true" value="true">
                                <label for="ck-mini-20"><a href="{% url 'filtergirls' %}?comment_have=true" rel="external">С отзывами</a></label>

                            </div>

                            <div class="col-12 text-right">
                                <button  style="background-color: #e83e8c; color: #ffffff" type="submit" class="btn btn-lg" data-role="none">Найти анкеты</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>



        <div class="container">
            <h3>Проститутки в Москве</h3>

            <span id="text-smm">
                Варьировать собственную сексапильную жизнь имеет возможность любой – лучшие проститутки Москвы уже готовы презентовать объятия и влечение.
                При стремлении снять путану в Москве довольно только побывать на вебсайте, не растрачивая время на розыски и обсуждение непонятных анкет.
                На страничках вебсайта представлены лишь проверенные шлюхи Москвы с животрепещущими тарифами собственных предложений.
                Любой гость имеет возможность избрать для себя подходящий вариант – снять проститутку в Москве с учетом благоприятного бюста,
                роста, дешевых предложений.
                Список путан в Москве на веб-сайте каждый день обновляется, дабы предохранять лишь только животрепещущие анкеты лучших девушек столицы.
                Подарите для себя влечение и свежие краски по легкодоступным тарифам.
                В том числе доступны проститутки в Москве дешево, которые готовы быстро и эффектно снятья напряжение.
                Особой известностью пользуются и элитные проститутки Москвы, способные презентовать не только лишь влечение в постели,
                но еще увлекательную беседу или же компанию в различных актуальных обстановках.
            </span>
        </div>

        <div class="container" id="card-girl">
            <div class="row justify-content-center no-gutters">

                {% for girl in girls %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-6 card-group" >
                        <div class="card mt-3 mr-3 ml-3">
                            <a href="{% url 'detail' girl.id %}" rel="external">
                                <div class="card border-0">


                                          <img src="{{ girl.individualka_photo_set.first.photo.url }}" class="card-img img-girl" alt="Фото девушки">


                                        {% if girl.photo_approved and girl.VIP %}
                                            <div class="card-img-overlay text-right col-12 img-vip">
                                                <img  src="{% static 'vip1.png' %}" alt="">
                                            </div>
                                            <div class="card-img-overlay text-right col-12 img-check">
                                                <img  src="{% static 'check.png' %}" alt="">
                                            </div>
                                        {% elif girl.VIP %}
                                            <div class="card-img-overlay text-right col-12 img-vip">
                                                <img  src="{% static 'vip1.png' %}" alt="">
                                            </div>
                                        {% elif girl.photo_approved %}
                                            <div class="card-img-overlay text-right col-12 img-vip">
                                                <img  src="{% static 'check.png' %}" alt="">
                                            </div>
                                        {% endif %}


                                        <div style="background: linear-gradient(to top, rgba(0,0,0,0.95) , rgba(255,255,255,0) 26%)" class="card-img-overlay text-white d-flex align-items-end">
                                            <div class="container p-0">
                                                <div class="row no-gutters">
                                                    <div class="col-12">
                                                        <h4 class="card-title d-none d-sm-block">{{ girl.name }}</h4>
                                                        <span style="font-weight: 600; font-size: 1.1em" class="card-title d-block d-sm-none m-0">{{ girl.name }}</span>
                                                    </div>
                                                    {% if girl.tariff_apartment_1 == 0 %}
                                                        <div class="d-none d-sm-block col-sm-4  text-center"><div style="border: 1px solid hsla(0,0%,100%,.2);"><span class="tarif-title ">За 1 час</span><h6>-</h6></div></div>
                                                    {% else %}
                                                        <div class="d-none d-sm-block col-sm-4  text-center"><div style="border: 1px solid hsla(0,0%,100%,.2);"><span class="tarif-title ">За 1 час</span><h6>{{ girl.tariff_apartment_1 }}</h6></div></div>
                                                    {% endif %}
                                                    {% if girl.tariff_apartment_2 == 0 %}
                                                        <div class="d-none d-sm-block col-sm-4  text-center"><div style="border: 1px solid hsla(0,0%,100%,.2);"><span class="tarif-title ">За 2 часа</span><h6>-</h6></div></div>
                                                    {% else %}
                                                        <div class="d-none d-sm-block col-sm-4  text-center"><div style="border: 1px solid hsla(0,0%,100%,.2);"><span class="tarif-title ">За 2 часа</span><h6>{{ girl.tariff_apartment_2 }}</h6></div></div>
                                                    {% endif %}
                                                    {% if girl.tariff_apartment_night == 0 %}
                                                        <div class="d-none d-sm-block col-sm-4  text-center"><div style="border: 1px solid hsla(0,0%,100%,.2);"><span class="tarif-title ">За ночь</span><h6>-</h6></div></div>
                                                    {% else %}
                                                        <div class="d-none d-sm-block col-sm-4  text-center"><div style="border: 1px solid hsla(0,0%,100%,.2);"><span class="tarif-title ">За ночь</span><h6>{{ girl.tariff_apartment_night }}</h6></div></div>
                                                    {% endif %}

                                                    <div class="col-12"><p class="m-0" style="font-size: 0.8em">{{ girl.metro }} / {{ girl.girl_age }} лет</p></div>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><img style="height: 35px" src="https://img.icons8.com/nolan/64/phone-office.png">   {{ girl.phone_number }}</h5>
                                <p class="card-text">
                                    {% if girl.exit_apartment or girl.exit_office or girl.exit_sauna or girl.exit_hotel %}
                                        <div><img style="height: 20px" src="https://img.icons8.com/offices/30/000000/taxi.png"> Выезд</div>
                                    {% endif %}
                                    {% if girl.her_apartment %}
                                        <div><img style="height: 20px" src="https://img.icons8.com/dusk/64/000000/home.png"> Апартаменты</div>
                                    {% endif %}


                                </p>

                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>


        <nav class="text-center" aria-label="Page navigation example">
                  <ul class="pagination justify-content-center m-5">
                      {% if girls.has_previous %}
                            <li class="page-item">
                                <a aria-label="Previous" class="page-link" href="?page=1" rel="external">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                      {% endif %}

                      {% if cr_minus4 in paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="#" rel="external">...</a></li>
                      {% endif %}
                      {% if cr_minus3 in paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{ cr_minus3 }}" rel="external">{{ cr_minus3 }}</a></li>
                      {% endif %}
                      {% if cr_minus2 in paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{ cr_minus2 }}" rel="external">{{ cr_minus2 }}</a></li>
                      {% endif %}
                      {% if cr_minus1 in paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{ cr_minus1 }}" rel="external">{{ cr_minus1 }}</a></li>
                      {% endif %}


                      <li class="page-item active"><a class="page-link" href="?page={{ cr_p }}" rel="external">{{ cr_p }}</a></li>

                      {% if cr_plus1 in paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{ cr_plus1 }}" rel="external">{{ cr_plus1 }}</a></li>
                      {% endif %}
                      {% if cr_plus2 in paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{ cr_plus2 }}" rel="external">{{ cr_plus2 }}</a></li>
                      {% endif %}
                      {% if cr_plus3 in paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{ cr_plus3 }}" rel="external">{{ cr_plus3 }}</a></li>
                      {% endif %}
                      {% if cr_plus4 in paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="4" rel="external">...</a></li>
                      {% endif %}


                      {% if girls.has_next %}

                          <li class="page-item">
                              <a class="page-link" href="?page={{ girls.paginator.num_pages }}" aria-label="Next" rel="external">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                          </li>
                      {% endif %}
                  </ul>
        </nav>

        <div class="container">

            <p>Быстрей приступи к выбору из каталога проституток Москвы – у нас помещены анкеты развратных и самых горячих шлюх, они с наслаждением займуться с тобой безудержным сексом.
            </p>

            <h4>Проститутки - максимально наслаждений при минимальном количестве усилий...</h4>

            <p>Чтобы снять девочку, для тебя понадобится всего только избрать из каталога ту, собственно что нравится, вслед за тем кликнуть пару один мышкой и уже в самое обозримое время возможно отодрать шикарную шлюшку.
            </p>

            <p>У нас ты отыщешь стройных блондинок, сисястых брюнеток, рыжих девушек - страстных и развратных, самые жаркие проститутки индивидуалки несомненно помогут осуществлять в действительность все секретные стремления, а также удивят ролевыми играми и свежими способами.
            </p>

            <p>Собственно что использую девушки в собственной работе:</p>
            <ul>
                <li>Предложит заняться <a rel="external" href="/f/?usluga_type_1=true">классическим сексом</a> в любых позах;</li>
                <li>Покажет стриптиз;</li>
                <li>Дозволит <a rel="external" href="/f/?usluga_type_2=true">трахнуть себя в попу</a> и допустит туда кончить;</li>
                <li>Даст единодушие на <a rel="external" href="/f/?usluga_type_3=true">групповой секс</a>;</li>
                <li>Сделает <a rel="external" href="/f/?usluga_laska_3=true">глубокий чувственный минет</a> с <a rel="external" href="/f/?usluga_finish_2=true">окончанием на лицо</a> или
                    <a rel="external" href="/f/?usluga_finish_1=true">в рот</a>;</li>
                <li>Сыграет во взрослые игры;</li>
                <li>Предложит заняться фистингом;</li>
                <li>Не будет против как следует тебя наказать.</li>
            </ul>

            <p>Оставайся неплохим мальчуганом, и веди себя верно. Возьми на вооружения эти критерии, они будут гарантией необычного секса с проституткой:</p>
            <ul>
                <li>Не надо давать девчонке номер телефонный номер, лучше заведи отдельный номер;</li>
                <li>Договорись о встрече у нее или же отыщи нейтральную территорию;</li>
                <li>Будь готов раскошелиться, потому что проститутки в Москве проделывают для тебя хорошо за вознаграждение;</li>
                <li>Не рискуй, пользуйя контрацептивами;</li>
                <li>
                    Не бери большое количество средств – довольно суммы, которая покроет цена подходящих для тебя предложений, имеешь возможность прихватить ещё чуть-чуть - на чашечку чая, а еще на такси;
                </li>
                <li>Не опасайся, собственно что у тебя похитят ценные безделушки, между индивидуалок аналогичное сталкивается изредка.</li>
            </ul>

            <h4>Услуги проституток: стоимость вопроса</h4>
            <p>
                Цена предложений у московских шлюшек ориентируется почаще всего по времени (за час, ночь). Не считая такого, предусматриваются просьбы покупателя - какие как раз виды секса он желает получить, чем больше неповторимый нрав одевает сервис, тем стоимость девочки дороже дороже. За неординарные предложения понадобится платить больше, впрочем привлекательным самцам, каким, без сомнения, считаешься и ты, девчонки имеют возможность пойти на уступки.
            </p>
            <h4>Нет обломам: проститутки всякий раз готовы!</h4>
            <p>
                Любой мужчина в собственной жизни безусловно встречался с обломами. Давай припомни эту историю: ты гуляешь с роскошной девчонкой, потратил бабки на цветочки, шампанское и конфеты, а в обмен получал всего только поцелуйчик в щечку да смс-ку на ночь. Но с путаной ты буквально получишь вкусную дырочку! Безусловно лучше предпочесть горячий секс с ночной феей, ежели выпрашивать его у той, которая способна принять подарочки, а тебя забыть ни с чем, согласен?
            </p>
            <h4>Ну, а ныне - от текстов к действиям!</h4>
            <p>
                Не стоит лишаться времени - начни избирать для себя похотливую шлюшку уже сейчас! Перейди в каталог проституток, избери красотку на вечер и начни услаждаться ее жаркой киской или же упругий дырочкой позади.
            </p>

        </div>

        <footer style="background-color: #f4f4f4" class="mt-5 p-5">
            <div class="text-center">
                <span>&copy; 2017-2020 Copyright by boobs-msk.com</span><br>
                <span>Email boobs_msk@protonmail.com</span><br>
                <span>Администрация не несет ответственности за размещенную пользователями информацию.</span>
            </div>
        </footer>



        <script>
            $('label a').bind("tap click", function( event, data ){
                event.stopPropagation();
                $.mobile.changePage($(this).attr('href').attr([rel=external]));
            });
        </script>



        <script>
            $(document).ready(function () {
                $(".ui-loader-default").remove();
                $("span.form-control").remove()
            })


            $(document).ready(function () {
                $("#btn-nav-1")
                    .mouseover(function () {
                        $("#btn-nav-1").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-1").css("color", "#000000");
                    })
                $("#btn-nav-2")
                    .mouseover(function () {
                        $("#btn-nav-2").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-2").css("color", "#000000");
                    })
                $("#btn-nav-3")
                    .mouseover(function () {
                        $("#btn-nav-3").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-3").css("color", "#000000");
                    })
                $("#btn-nav-4")
                    .mouseover(function () {
                        $("#btn-nav-4").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-4").css("color", "#000000");
                    })
            })
        </script>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
      </body>
    </html>