    {% load static %}
    {% load startswith %}
    <!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="{% static 'css/customstyle.css' %}">
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

            <style>
            @import url('https://fonts.googleapis.com/css?family=Lobster|Marck+Script|Pacifico|Pattaya|Russo+One&display=swap');
            </style>

          <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">







          <title>Личные данные</title>
      </head>
      <body>

 <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Выбор метро</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                    {% for m in metro %}
                        {% if m.metro|startswith:'А' %}
                            <span style="font-size: 1em" class="col-3"><a rel="external" href="m/{{ m.metro }}">{{ m.metro }}</a></span>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div style="background-color: #880e4f;">
            <div class="container">
                <div class="row">
                    <div style="color: #ffffff" class="col-6 col-sm-4 mt-2 mb-2"><a href="#" onclick="on_city()"><span class="city-metro-text">Город:</span> Москва</a></div>
                    <div style="color: #ffffff" class="col-6 col-sm-5 mt-2 mb-2"><a href="#" type="button" data-toggle="modal" data-target="#exampleModalLong"><span class="city-metro-text">Метро:</span> Не выбранно</a></div>
                    <div style="color: #ffffff" class="text-right col-sm-3 mt-2 mb-2" id="account"><a href="{% url 'signin' %}" rel="external">Личный кабинет</a></div>
                </div>
            </div>
        </div>

            <div style="background-color: #ffffff;">
                <div   class="container d-flex justify-content-center">
                    <a rel="external" href="{% url 'index' %}"><img style="width: 320px; height: 100px" src="{% static 'logo_1.png' %}" alt=""></a>
                </div>
            </div>


            <nav style="background-color: #ffffff" class="navbar navbar-expand-md navbar-light navbar-center">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <a href="{% url 'logout_view' %}" rel="external" class="d-md-none">Выход <span class="align-middle"><ion-icon name="exit-outline"></ion-icon></span></a>
              <div  class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="container">
                    <ul class="navbar-nav w-100 row-cols-4" style="font-family: 'Pattaya', sans-serif;">
                      <li class="nav-item active">
                        <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-1" href="{% url 'index' %}">Индивидуалки <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item ">
                        <a rel="external" style="color: #000000" class="nav-link" id="btn-nav-2" href="{% url 'intim_salons' %}">Интим-салоны</a>
                      </li>
                      <li class="nav-item ">
                        <a style="color: #000000" class="nav-link" id="btn-nav-3" href="#">Стритиз-клубы</a>
                      </li>
                      <li class="nav-item ">
                        <a style="color: #000000" class="nav-link" id="btn-nav-4" href="#">Массажистки</a>
                      </li>
                    </ul>
                  </div>
              </div>
            </nav>
        </div>

        <nav style="background-color: #f4f4f4" aria-label="breadcrumb">
                          <ol style="background-color: unset" class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}" rel="external">Главная</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'account_g' %}" rel="external">Личный кабинет</a></li>
                            <li style="color: #880E4F" class="breadcrumb-item " aria-current="page">Личные данные</li>
                          </ol>
        </nav>


        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <h5 style="color: red" class="text-center">{{ message }}</h5>
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                            <h5 style="color: green" class="text-center">{{ message }}</h5>
                        {% endif %}

                    {% endfor %}
                    <form method="post" action="{% url 'personal' %}">
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Новый пароль</label>
                        <input name="password_1" type="password" class="form-control" id="exampleFormControlInput1">
                      </div>
                      <div class="form-group">
                            <label for="formGroupExampleInput">Подтвердите новый пароль</label>
                            <input name="password_2" type="password" class="form-control" id="formGroupExampleInput" >
                      </div>

                      <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>



        <footer style="background-color: #f4f4f4" class="mt-5 p-5">
            <div class="text-center">
                <span>&copy; 2017-2020 Copyright by boobs-msk.com</span><br>
                <span>Email boobs_msk@protonmail.com</span><br>
                <span>Администрация не несет ответственности за размещенную пользователями информацию.</span>
            </div>
        </footer>



<script src="{% static 'js/jquery.min.js' %}"></script>
        <script>
            $('.ui-checkbox a').bind("tap click", function( event, data ){
                event.stopPropagation();
                $.mobile.changePage($(this).attr('href').attr([rel=external]));
            });
        </script>


        <script>
            $(document).ready(function () {
                $(".ui-loader-default").remove();
                $("span.form-control").remove()
            })


            $(document).ready(function () {
                $("#btn-nav-1")
                    .mouseover(function () {
                        $("#btn-nav-1").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-1").css("color", "#000000");
                    })
                $("#btn-nav-2")
                    .mouseover(function () {
                        $("#btn-nav-2").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-2").css("color", "#000000");
                    })
                $("#btn-nav-3")
                    .mouseover(function () {
                        $("#btn-nav-3").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-3").css("color", "#000000");
                    })
                $("#btn-nav-4")
                    .mouseover(function () {
                        $("#btn-nav-4").css("color", "#880E4F");
                    })
                    .mouseout(function () {
                        $("#btn-nav-4").css("color", "#000000");
                    })
            })
        </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
      </body>
    </html>