    {% load static %}
    <!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{% static 'css/customstyle.css' %}">
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
          <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
          <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
          <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">







        {%  block title %}
            <title>Hello, world!</title>
        {% endblock %}
      </head>
      <body>



        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item {% block active %}active{% endblock %}">
                    <a class="nav-link" href="#">Индивидуалки <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" >Интим-салоны</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Стрип-клубы</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Массажистки</a>
                  </li>
                </ul>
                      <div class="dropdown mr-5">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Авторизация
                        </button>
                                <div class="dropdown-menu">
                                  <form method="post" action="{% url 'signin' %}" class="px-4 py-3">
                                      {% csrf_token %}
                                    <div class="form-group">
                                      <label for="exampleDropdownFormEmail1">Email address</label>
                                      <input name="email" type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleDropdownFormPassword1">Password</label>
                                      <input name="password" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                  </form>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="{% url 'signup' %}">New around here? Sign up</a>
                                  <a class="dropdown-item" href="#">Forgot password?</a>
                                </div>
                      </div>
              </div>
            </div>
        </nav>

        {% block content %}




        <div class="container">
            <div class="row justify-content-center no-gutters">
                {% for girl in girls %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-6 card-group">
                        <div class="card mt-3 m-2">
                            <div class="card border-0">

                                {% for img in girl.individualka_photo_set.all %}
                                    {% if forloop.first %}
                                      <img st style="height: 20rem"  src="{{img.photo.url}}" class="card-img" alt="Фото девушки">
                                    {% endif %}
                                {% endfor %}

                                    <div style="background: linear-gradient(to top, rgba(0,0,0,0.95) , rgba(255,255,255,0) 26%)" class="card-img-overlay text-white d-flex align-items-end">
                                        <div class="container">
                                            <div class="row no-gutters">
                                                <div class="col-12">
                                                    <h4 class="card-title">{{ girl.name }}</h4>
                                                </div>
                                                <div class="col-4 text-center"><div style="border: 1px solid hsla(0,0%,100%,.2);"><span class="tarif-title ">За 1 час</span><h6>{{ girl.tariff_apartment_2 }}</h6></div></div>
                                                <div class="col-4 text-center"><div style="border: 1px solid hsla(0,0%,100%,.2);"><span class="tarif-title ">За 2 часа</span><h6>{{ girl.tariff_apartment_2 }}</h6></div></div>
                                                <div class="col-4 text-center"><div style="border: 1px solid hsla(0,0%,100%,.2);"><span class="tarif-title ">За ночь</span><h6>{{ girl.tariff_apartment_night }}</h6></div></div>
                                                <div class="col-12">{{ girl.metro }} / {{ girl.girl_age }} лет</div>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="card-body">
                            <h5 class="card-title"><img style="height: 35px" src="https://img.icons8.com/nolan/64/phone-office.png">   {{ girl.phone_number }}</h5>
                            <p class="card-text">
                                {% if girl.exit_apartment or girl.exit_office or girl.exit_sauna or girl.exit_hotel %}
                                    <div><img cla style="height: 20px" src="https://img.icons8.com/offices/30/000000/taxi.png"> Выезд</div>
                                {% endif %}
                                {% if girl.her_apartment %}
                                    <div><img style="height: 20px" src="https://img.icons8.com/dusk/64/000000/home.png"> Апартаменты</div>
                                {% endif %}


                            </p>
                        </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>




        {% endblock %}

        <script>
            $(document).ready(function () {
                $(".ui-loader-default").remove()
            })
        </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
      </body>
    </html>